{% extends "registration/base.html" %}

{% block content %}

<div class="contrib-login-wrapper">

    <div class="block-nl">
    <h2>Bedankt voor je registratie op Wood Wide Web!</h2>

    <a class="pitch green" href="{% url 'wood-add-tree' 'nl' %}">Laten we nu een boom adopteren!</a>
    </div>

    <div class="block-fr">
    <h2>Merci pour votre inscription sur Wood Wide Web!</h2>
    <a class="pitch green" href="{% url 'wood-add-tree' 'fr' %}">Adoptons un arbre maintenant!</a>
    </div>

    <div class="block-en">
    <h2>Thanks for your registration on Wood Wide Web</h2>
    <a class="pitch green" href="{% url 'wood-add-tree' 'en' %}">Let's adopt a tree now!</a>
    </div>
</div>
{% endblock %}
