body.atlas .block-left {

    .services .item {
        .content {
            display: flex;

            .k-score {
                width: @tabulation;
                display: block;
                text-align: center;
                margin-left: -@tabulation;
            }
        }

        .label {
            padding-left: @tabulation;
        }
    }

    .item {
        margin: @sm-margin * 1.5 0;

        .label {
            font-weight: 100;
        }

        .content {
            padding-left: @tabulation;
        }
    }
}