body.atlas {
    background: @white;
    color: @black;

    a,
    a:link,
    a:visited,
    a:hover {
        color: #000;
    }

    h1 {
        .wordwrap();
        font-weight: 100;
        font-size: 3rem;
        margin-top: 0px;
        margin-bottom: @margin;
        letter-spacing: -2px;
        line-height: 95%;


        @media @landscape-md {
            font-size: 4rem;
        }
    }

    h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
    }

    h3 {
        text-transform: uppercase;
        font-size: 0.95rem;
    }

    .caption,
    .media-caption {
        font-size: 0.8rem;
    }

    .text-caption {
        font-size: 0.8rem;
        text-align: right;
    }

    .address,
    .identity,
    .services {
        .item .content {
            font-weight: 600;
        }
    }

    .photomaton {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }
}