@sidbarW: 100% / 3;
@contentW: 100% / 3 * 2;

.main-content {
    display : flex;
    flex-direction: column-reverse;
}

.main-header {
    display : flex;
    flex-direction: column;
}



.nav-widget,
.block-left {
    width: 100%;
     @media @landscape-md {
        width: @sidbarW;
        flex-shrink: 0;
    }   
}

.block-content {
    flex: 1;
}

.media-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        width : calc(~"50% - @{sm-margin} / 2");
        flex-shrink: 0;
        margin-bottom: @sm-margin;
    }
}


@media @landscape-md {
    .main-header,
    .main-content {        
        flex-direction: row;
    }    
    .media-collection > div {
        width : calc(~"50% - @{margin} / 2");
        margin-bottom: @margin;
    }
}