body.atlas .main-header {

    .nav-widget {
        display: flex;
        justify-content: space-between;

        .contrib-block {
            padding: @margin;
            margin-bottom: @margin;
            background-color: @bg-light;

            @media @landscape-md {
                margin-right: @margin;
                margin-bottom: initial;
            }

            h3 {
                margin-top: 0px;
            }

            a {
                text-transform: uppercase;
                font-weight: bold;
            }

        }

        .map-link img,
        .svg-navigator {
            width: 150px;
        }
    }
}