//********************  FONTS  ***********************//

@family : librefranklin;

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-thin.woff2') format('woff2'),
         url('fonts/@{family}-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extralight.woff2') format('woff2'),
         url('fonts/@{family}-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-light.woff2') format('woff2'),
         url('fonts/@{family}-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-regular.woff2') format('woff2'),
         url('fonts/@{family}-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-medium.woff2') format('woff2'),
         url('fonts/@{family}-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-semibold.woff2') format('woff2'),
         url('fonts/@{family}-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-bold.woff2') format('woff2'),
         url('fonts/@{family}-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extrabold.woff2') format('woff2'),
         url('fonts/@{family}-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-black.woff2') format('woff2'),
         url('fonts/@{family}-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


//**************ITALIC**************//


@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-thinitalic.woff2') format('woff2'),
         url('fonts/@{family}-thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extralightitalic.woff2') format('woff2'),
         url('fonts/@{family}-extralightitalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-lightitalic.woff2') format('woff2'),
         url('fonts/@{family}-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-regularitalic.woff2') format('woff2'),
         url('fonts/@{family}-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-mediumitalic.woff2') format('woff2'),
         url('fonts/@{family}-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-semibolditalic.woff2') format('woff2'),
         url('fonts/@{family}-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-bolditalic.woff2') format('woff2'),
         url('fonts/@{family}-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-extrabolditalic.woff2') format('woff2'),
         url('fonts/@{family}-extrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: '@{family}';
    src: url('fonts/@{family}-blackitalic.woff2') format('woff2'),
         url('fonts/@{family}-blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
