@bold : 700;
@light : 300;

//********************  COLORS  ***********************//
@black : #000;
@grey-dark : #444;
@grey-medium : #a9a9aa;
@grey-light : #dadada;
@white : #ffffff;

@red : #CD1719;
@pink : #C27FB5;
@orange : #ff9119;

@green : #70B62C;

@blue : #283583;
@light-blue : #D9EFFD;

@bg-light : #f9f9f5;

//********************  SIZES  ***********************//

@sm-margin: 0.3rem;
@margin: 1rem;

@tabulation : 3 * @margin;



@headerAtlas : 2.5 * @margin;
@legendWidth : 350px;