{% extends "wood_core/base.html" %}
{% load wood %} {% load static %}
{% block js %}


<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.5.0/proj4.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
<style>
</style>
<script>

    function init() {

        // from https://epsg.io/31370.proj4
        proj4.defs('EPSG:31370',
            '+proj=lcc +lat_1=51.16666723333333 +lat_2=49.8333339 +lat_0=90 +lon_0=4.367486666666666 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=-106.869,52.2978,-103.724,0.3366,-0.457,1.8422,-1.2747 +units=m +no_defs');

        ol.proj.proj4.register(proj4)

        const edgeStyle = new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#97cfb1',
                width: 2
            })
        });

        const nodeStyle = new ol.style.Style({
            image: new ol.style.Circle({
                radius: 4,
                fill: new ol.style.Fill({
                    color: 'white'
                }),
                stroke: new ol.style.Stroke({
                    color: '#97cfb1',
                    width: 2
                })
            })
        });

        const EPSG31370 = new ol.proj.Projection({
            code: 'EPSG:31370',
            extent: [14697.30, 22635.80, 291071.84, 246456.18],
            worldExtent: [2.5, 49.5, 6.4, 51.51],
            global: false,
            getPointResolution: (r) => r,
        });

        const { forward } = proj4('EPSG:4326', 'EPSG:31370')

        const forwardPoint = forward;
        const forwardLine = (pts) => pts.map(forwardPoint);

        function toLambert72(x, y) {
            const cc = forward([x, y]);
            return [Math.round(cc[0] * 10) / 10, Math.round(cc[1] * 10) / 10];
        }

        const wmsOrthoConfig = {
            srs: 'EPSG:31370',
            params: {
                LAYERS: 'Ortho2017',
                VERSION: '1.1.1',
            },
            url: 'https://geoservices-urbis.irisnet.be/geoserver/urbisgrid/ows'
        };


        const selectStrokeWidth = 2;
        const selectRadius = 14;

        function bufferFeature(f, radius) {

            return (new ol.geom.Circle(ol.extent.getCenter(f.getGeometry().getExtent()), radius));
        }

        function strokeStyle(width, color) {
            return (new ol.style.Stroke({
                width,
                color,
            }))
        }

        function selectStyle(f, res) {
            return [
                nodeStyle,
                new ol.style.Style({
                    stroke: strokeStyle(selectStrokeWidth, 'white'),
                    geometry: bufferFeature(f, selectRadius * res),
                }),
            ]
        }

        const baseLayer = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                projection: ol.proj.get(wmsOrthoConfig.srs),
                params: {
                    ...wmsOrthoConfig.params,
                    'TILED': true,
                },
                url: wmsOrthoConfig.url,
            }),
        });

        const view = new ol.View({
            projection: EPSG31370,
            center: [148651, 170897],
            rotation: 0,
            zoom: 6,
        });

        var map = new ol.Map({
            target: 'map',
            view,
        });

        map.addLayer(baseLayer);


        const edgeSource = new ol.source.Vector();
        const edgeLayer = new ol.layer.Vector({ source: edgeSource, style: edgeStyle });

        const nodeSource = new ol.source.Vector();
        const nodeLayer = new ol.layer.Vector({ source: nodeSource, style: nodeStyle });


        function dist(p0, p1) {
            const dx = p1[0] - p0[0]
            const dy = p1[1] - p0[1]
            return Math.sqrt((dx * dx) + (dy * dy))
        }

        function add(v1, v2, a) {
            const d = dist(v1, v2)
            const t = a / d
            const rx = v1[0] + (v2[0] - v1[0]) * t
            const ry = v1[1] + (v2[1] - v1[1]) * t
            return [rx, ry]
        }

        function perp(a, b) {
            const c = [b[0] - a[0], b[1] - a[1]]
            const p = [c[1], -c[0]]
            return [p[0] + a[0], p[1] + a[1]]
        }

        function arrow(start, end) {
            const d = dist(start, end) * 0.25
            const a = add(start, end, d * 0.9)
            const b = add(start, end, d)

            const stem = [start, b]
            const p0 = perp(a, b)
            const p1 = add(a, p0, -dist(a, p0))


            return (new ol.geom.MultiLineString([
                stem,
                [p0, b],
                [p1, b],
            ]))
        }

        const nodes = [];

        {% for edge in walk.edges %}

        edgeSource.addFeature(
            new ol.Feature({
                geometry: new ol.geom.LineString(forwardLine({{ edge.path.coords | to_js }}))
    })
    )
    edgeSource.addFeature(
        new ol.Feature({
            geometry: arrow(
                toLambert72({{ edge.path.coords.0.0 }}, {{ edge.path.coords.0.1 }}), toLambert72({{ edge.path.coords.1.0 }}, {{ edge.path.coords.1.1 }})
    )
        })
    )



    {% if forloop.first %}
    // {{ edge.in_node.name }} (first)
    nodes.push({
        id: {{ edge.in_node.id }},
        coords  : toLambert72({{ edge.in_node.position.coords.0 }}, {{ edge.in_node.position.coords.1 }}),
        })
    {% endif %}

    // {{ edge.out_node.name }} 
    nodes.push({
        id: {{ edge.out_node.id }},
        coords  : toLambert72({{ edge.out_node.position.coords.0 }}, {{ edge.out_node.position.coords.1 }}),
    })

    {% endfor %}

    nodes.forEach(function (n) {
        const f = new ol.Feature(new ol.geom.Point(n.coords))
        f.setId(n.id)
        nodeSource.addFeature(f)
    })



    map.addLayer(edgeLayer);
    map.addLayer(nodeLayer);

    view.fit(edgeSource.getExtent(), {
        padding: [30, 30, 30, 30],
        duration: 600,
    })

    const wrapperSelector = '.edge';

    function deselectAll() {
        document
            .querySelectorAll(wrapperSelector)
            .forEach(function (n) {
                n.classList.remove('selected')
            })
    }

    function selectId(id) {
        document
            .querySelectorAll(`[data-tree-id="${id}"]`)
            .forEach(function (n) {
                n.classList.add('selected'),
                    n.scrollIntoView({ behavior: "smooth" })
            })
    }

    const selectedFeatures = new ol.Collection()

    const select = new ol.interaction.Select({
        layers: [nodeLayer],
        style: selectStyle,
        features: selectedFeatures,
    })


    selectedFeatures.on('add', function () {
        deselectAll()
        selectedFeatures.forEach(function (f) { selectId(f.getId()) })
    })

    selectedFeatures.on('remove', function () {
        deselectAll()
    })

    map.addInteraction(select)

    document
        .querySelectorAll('.edge')
        .forEach(function (edge) {
            const id = edge.getAttribute('data-tree-id')
            const n = edge.querySelector('.name')
            if (n) {
                n.addEventListener('click', function (e) {
                    f = nodeSource.getFeatureById(id)
                    if (f) {
                        {% comment %} nodeSource.removeFeature(f) {% endcomment %}
                        select.getFeatures().clear()
                        select.getFeatures().push(f)
                    }
                })
            }
        })


}

    document.onreadystatechange = function startApplication() {
        if ('interactive' === document.readyState) {
            init();
        }
    };

</script>
{% endblock %}
{% block body %}

<div id="header-atlas">

    <div class="header-atlas-logo">
        <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
    </div>

    <div class="header-atlas-lang">
        {% if lang == 'fr' %}
        <a href="{% url 'wood-walk-single' 'nl' walk.id %}">Nederlands</a> |
        <a href="{% url 'wood-walk-single' 'en' walk.id %}">English</a>
        {% elif lang == 'nl' %}
        <a href="{% url 'wood-walk-single' 'fr' walk.id %}">Français</a> |
        <a href="{% url 'wood-walk-single' 'en' walk.id %}">English</a>
        {% else %}
        <a href="{% url 'wood-walk-single' 'nl' walk.id %}">Nederlands</a> |
        <a href="{% url 'wood-walk-single' 'fr' walk.id %}">Français</a>
        {% endif %}
    </div>


    <div class="header-atlas-about">
        <a
            href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
    </div>

    <div class="header-atlas-map">
        <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Map" en='Map' %}</a>
    </div>

    {% if request.user.is_authenticated %}
    <div class="header-atlas-about">
        <a
            href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a>
    </div>
    {% endif %}


    <div class='header-atlas-logout'>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' lang%}"> Logout </a>
        {% else %}
        <a href="{% url 'wood-contrib' lang %}"> Login </a>
        {% endif %}
    </div>
</div>

<div class="content walk-wrapper">
    <div class="walk-wrapper-left">
        <div id="map" class="abs"></div>
    </div>

    <div class="walk-wrapper-right">

        <div class="walk-infos">
            <h1>{{ walk.title|tr:lang }}</h1>
            <h2>{{ walk.subtitle|tr:lang }}</h2>
            <div class="summary">
                {{ walk.summary|tr:lang|md }}
            </div>
        </div>


        <div class="walk-edges">
            {% for edge in  walk.edges %}

            {% comment %} condition pour forloop.first enlevée {% endcomment %}

            <div class="edge" data-tree-id="{{edge.in_node.id}}">

                <div class="edge-tree">
                    <div class="tree-info">
                        <div class="name">
                            <!-- {{edge.out_node.name|tr:lang}} -->
                            {% if edge.in_node.name %}{{edge.in_node.name|tr:lang}}{% else %}{{ edge.in_node.taxon.name|tr:lang }}{% endif %}

                        </div>
                        <div class="taxon">
                            {{ edge.in_node.taxon.name|tr:lang }} ({{edge.in_node.taxon}})
                        </div>
                        <div class="adress">
                            {{edge.in_node.street_address|tr:lang}} -
                            {{edge.in_node.city|tr:lang}}
                        </div>
                    </div>

                    <div class="tree-column-wrapper">
                        {% if edge.image %}
                        <img src="{% url 'wood-media' 'walkedge' edge.id 600 %}" />
                        {% else %}
                        <img src="{% url 'wood-media' 'tree' edge.in_node.id 600 %}" />
                        {% endif %}

                        <div class="description">
                            {% comment %} {{edge.out_node.description|tr:lang}} {% endcomment %}
                        </div>
                    </div>

                    <div class="link">
                        <a
                            href="{% url 'wood-atlas-tree' lang edge.in_node.id %}">{% tr_label lang fr="Information sur cet arbre" nl="Informatie over deze boom" en="Information about this tree" %}</a>
                    </div>

                    <div class="edge-info">
                        {{edge.info|tr:lang|md}}
                    </div>

                </div>


            </div>


            {% endfor %}

        </div>


    </div>
</div>

<div class="credits">

    <div class="copyright"> © 32shoot asbl </div>

    <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be"
            title="atelier cartographique" target="_blank">atelier cartographique</a>
    </div>
</div>
{% endblock %}