body.atlas {
    background: white;
    color: #000;

    a {
        color: #000
    }
}


.content-wrapper {
    display: flex;
    flex-direction: column;

    @media @landscape-md {
        .absolute(@headerAtlas, @margin, @margin, @margin);
        flex-direction: row;
    }
}



#map,
.map-content-wrapper {
    width: 100%;
    // height: calc(~"75vh - @{headerAtlas}");
    min-height: calc(~"75vh - @{headerAtlas}");
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    @media @landscape-md {
        // .absolute(@headerAtlas, @legendWidth, @margin, @margin);
        flex-grow: 1;
        background-color: white;
        z-index: 1;
        width: auto;
        height: 100%;
        display: block;
    }

    .ol-viewport {
        max-height: calc(~"75vh - @{headerAtlas}");

        @media @landscape-md {
            max-height: initial;
        }
    }
}

#map button {
    min-width: auto;
    width: 20px;
    height: 20px;
}

.tree-preview .popup {
    position: relative;

    @media @landscape-md {
        // .absolute(@headerAtlas, @margin, @margin, calc(~"100vw - @{legendWidth}"));
        position: absolute;
        right: 0;
        top: 0;
        border-right: 1px solid #000;
        width: @legendWidth;
        max-height: 100%;
        padding: @margin;
        background: white;
        // opacity: 0.8;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .links {
        display: flex;
        margin-bottom: @margin / 2;

        >div {
            margin: 0px;
            margin-right: @margin;
        }
    }
}


#legend {
    font-size: 1rem;
    padding: 0 @margin;
    width: 100%;
    margin-top: @margin;

    @media @landscape-md {
        margin-top: 0px;
        width: @legendWidth;
        padding-left: @margin;
        background: white;
        opacity: 0.8;
        z-index: 2;
        overflow-x: hidden;
        overflow-y: auto;
    }
}



#legend {

    h2,
    h3 {
        color: #009245;

        & a {
            color: #009245;
        }
    }

    .legend-intro {
        font-size: 1rem;
        margin-top: @margin;

        p {
            margin: 0;
        }
    }

    @media @landscape-md {
        .legend-intro {
            margin-top: 0;
        }
    }

    .legend-item {
        position: relative;
        color: black;
        cursor: pointer;
        padding-left: 1em;
        margin-left: 1em;
        border-left: 3px solid transparent;

        &:hover {
            border-left-color: #bbdaed;
        }

        &.highlight {
            border-left-color: #0094F5;

            &:hover {
                border-color: transparent;

                &::before {
                    content: 'x';
                    position: absolute;
                    left: -6px;
                    font-weight: bold;
                    color: #0094F5;
                }
            }
        }

    }

    .legend-map {
        .legend-map-item {
            display: flex;
            cursor: default;

            .picto {
                margin-right: @margin;
            }

            &:hover .label {
                text-decoration: underline;
            }
        }

        .label .selected {
            font-weight: bold;
        }

    }

    button {
        margin: @margin 0;
    }

    .hidden {
        display: none;
    }
}

.data-loader {
    position: absolute;
    z-index: 200;
    background-color: #fff;
    padding: 1em;
    font-size: 16pt;
    left: 24px;
    top: 46px;
    border: 0.5px solid grey;

    &.none {
        display: none;
    }

    &.loading {
        display: auto;
    }

    &.loaded {
        display: none;
    }
}

.tree-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    &>div {
        padding: @margin / 2;
        background: @green;
        color: #fff;
        font-weight: 700;
    }
}

.tree-preview {
    margin-top: @margin;

    @media @landscape-md {
        margin-top: 0;
    }

    img {
        width: 100%;
    }

    .name {
        font-size: 1.2em;
        padding-bottom: 1rem;
        font-weight: 700;
    }

    .link {

        a {
            display: inline-block;
            background: @green;
            padding: @margin / 3;
            text-transform: lowercase;
            color: #fff !important;
            font-weight: 700;
            text-decoration: none !important;
        }
    }

    .address,
    .specie {
        display: none;
    }
}

.specie-filter-wrapper #specie-filter {
    column-count: 2;
    column-gap: @margin;
    font-size: 1rem;

    >div {
        margin-bottom: @margin / 3;
    }
}



// FOOTER MAP

.atlas .credits {
    // height: @margin;
    font-size: 10px;
    display: flex;
    padding: @margin / 2 0;
    margin-top: @margin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff !important;
    height: auto;

    @media @landscape-md {
        .absolute(auto, @margin, 0, @margin);
        flex-direction: row;
        justify-content: space-between;
        background: #fff;
        color: #000 !important;
        padding: 0;
        margin-top: 0;
    }

    .copyright {
        height: @margin;
        display: flex;
        align-items: center;
        // color: rgb(51, 48, 48);
        padding-left: @sm-margin;

        @media @landscape-md {
            // .absolute(auto, auto, 0, @margin);
            padding-left: 0;
        }
    }


    .ac-credits {
        height: @margin;
        display: flex;
        align-items: center;
        // color: rgb(51, 48, 48);
        padding-left: @sm-margin;

        a,
        a:visited,
        a:link {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }

        a:hover,
        a:link {
            color: rgb(255, 255, 255);
        }

        @media @landscape-md {
            // .absolute(auto, @legendWidth, 0, auto);
            padding-left: 0;

            a,
            a:visited,
            a:link {
                color: rgb(0, 0, 0);
            }

            a:hover,
            a:link {
                color: rgb(0, 0, 0);
            }
        }
    }
}






.ol-attribution {
    display: none;
}

.ol-zoom {
    top: auto;
    left: auto;
    bottom: .5em;
    right: .5em;
}

.ol-zoom-in,
.ol-zoom-out {
    color: transparent !important;
    background-color: transparent !important;
}

.ol-zoom-out {
    margin-top: @margin / 3 !important;
}

.ol-zoom-in:before,
.ol-zoom-out:before {
    width: 20px;
    height: 20px;
}

.ol-zoom-in:before {
    content: url('svg/zoom-in.svg');
}

.ol-zoom-out:before {
    content: url('svg/zoom-out.svg');
}