{% load static %}
{% load wood %}

<style>
    #floated {
        float:left;
    }
</style>

<article class="actors">

    <div class="ba-wrapper">
        <div class="ba-txt-wrapper">
            <div class="pitch black">
                <span>{% tr_label lang fr="Planteurs" nl="Planters" en="Planters"%}</span>
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Notre projet n’a de sens que s’il est collectif. Depuis 2013, nous semons des graines dans des associations, collectifs, institutions, écoles, entreprises, etc autour de nous. Elles ont poussé grâce à toute une série d’acteurs qui ont mis les arbres au cœur de leur programmation, création, travail, vie. Ils ont planté des arbres dans la carte ou dans le sol bruxellois avec nous. Ils font pousser la forêt urbaine à la fois virtuelle et réelle. Merci à :" nl="Ons project heeft pas zin als het een collectief project is. Sinds 2013 laten we in verenigingen, collectieven, instellingen, scholen, bedrijven ... om ons heen zaadjes ontkiemen. Die zijn gegroeid dankzij een hele reeks betrokkenen die de bomen een centrale plek hebben gegeven in hun programma, creaties, werk en leven. Ze hebben samen met ons bomen geplant op de kaart of in de Brusselse grond. Zij doen het virtuele én het echte stadsbos groeien. Bedankt aan:" en="Our project only makes sense if it functions as a collective. Since 2013, we have sown seeds together with associations, collectives, institutions, schools and companies all around us. They have grown thanks to various participants who have put the trees at the heart of their programmes, productions, work and life. With us, they have planted trees in Brussels’s soil and onto our Wood Wide Web map, growing urban forests both in real life and on our virtual web. Thank you to:"%}
                
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Ceux qui mettent l’arbre et la forêt au cœur de leur programmation ou leur action. Ensemble nous proposons des activités de terrain : pour aller à la rencontre des arbres et des personnes." nl="Diegenen die de boom en het bos een centrale plek geven in hun programma of hun acties. Samen bieden we activiteiten op het terrein aan: om bomen en mensen te leren kennen." en="Everyone who has trees and forests at the heart of their programmes and actions. Together, we propose activities in the field with the aim of bringing trees and people together."%}
            </div>
            <div class="actors-list sub-pitch black">
                {% for a in actors %}
                <div>
                    <a class="actor" href="{{a.url|tr:lang}}">{{a.name}}</a>:<br>
                    <span class="actor-trees">
                        {% for t in a.trees  %}
                        <a href="{% url 'wood-atlas-tree' lang t.id %}">
                            {% tree_name lang t %}
                        </a>
                        {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="ba-wrapper">
        <div class="ba-txt-wrapper">
            <div class="pitch orange">
                <span>
                    {% tr_label lang fr="Fertilis’acteurs" nl="Ferlis’aktors" en="Fertilis’actors" %}
                </span>
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Ils sont présents à nos côtés et nous aident discrètement, à ancrer le projet, le faire grandir scientifiquement et humainement. Ils nous entourent, nous encouragent, nous conseillent, nous questionnent, nous accompagnent.  Merci à :" nl="Ze staan aan onze zijde en helpen ons discreet, om het project te verankeren, het op wetenschappelijk en menselijk vlak te doen groeien. Ze omringen ons, moedigen ons aan, adviseren ons, stellen ons kritische vragen, begeleiden ons. Bedankt aan:" en="Standing with us and helping us in an understated way, these participants really anchor the project and help it grow scientifically and suitably. They surround us, encourage us, advise us, challenge us, and support us. Thank you to:" %}
                
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Ceux et celles qui enrichissent notre vulgarisation en offrant ou échangeant leurs connaissances théoriques ou pratiques, en partageant leurs données/informations ou illustrations/photos parfois inédits. Scientifiques, dendrologues passionnés, responsables communaux des espaces verts, jardiniers, etc. en particulier :" nl="Diegenen die onze verspreiding van wetenschappelijke informatie verrijken door hun theoretische of praktische kennis aan te bieden of uit te wisselen, hun gegevens/informatie en soms onuitgegeven illustraties/foto’s te delen. Wetenschappers, gepassioneerde boomkundigen, gemeentelijke verantwoordelijken voor groene ruimtes, hoveniers enzovoort, in het bijzonder:" en="Everyone who helps us bring our project to people, by offering or exchanging their theoretical and practical knowledge, by sharing their data/information, or by providing illustrations/photos which sometimes were previously unpublished. Scientists, passionate dendrologists, municipal officials of green spaces, gardeners, etc. – in particular:" %}
                
            </div>
            <div class="sub-pitch black">
                Bruno Campanella <br>
                Catherine Leclercq <br>
                Nicole Hanquart <br>
                Joke Ossaer<br>
                Guillaume Mamdy<br> 
                Sophie Barré<br>
                Frédéric Cousseran <br>
                Pierre Meert <br>
                Guillaume Pé<br>
                Anton Laurent <br>
                Clémentine Leemans<br>
                Ursula Wieser <br>
                May Reinke<br>
                Wolfgang Vahsen<br>
                Gérard Carbonnelle<br>
                Marc Delisse <br>
                Léon Meganck<br>
                Sébastien Lezaca<br>
                Laetitia Eudier<br>
                Frédéric Boutry<br>
                Alain Waterlot<br>
                Juliana Moreira de Castro<br>
                Olivier Mingers<br>
                Sébastien Lezaca<br>
                Nicolas Hanquart <br>
                Paul Gourgue<br>
                André et Viviane Staner<br> 
                Marc Florin<br>
                Jan Vandervorst<br>
                Denis Diagre<br>
                Valérie Charavel<br>
                Jérôme Degreef<br>
                … 
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="A leurs structures, hiérarchies, collègues ou équipes qui leur ont permis de se joindre à nous, notamment: le département Patrimoine Naturel de la Région de Bruxelles Capitale, le Jardin Botanique de Meise, la Société Belge de Dendrologie, l’Association des Arbres remarquables de France, les communes de Forest, Watermael-Boitsfort, Woluwe Saint Lambert, Schaerbeek, Bruxelles, … " nl="Aan hun organisaties, leidinggevenden, collega’s of teams die het hen mogelijk gemaakt hebben ons te vervoegen, en dan met name het departement Natuurlijk Erfgoed van het Brussels Hoofdstedelijk Gewest, de Plantentuin van Meise, de Belgische Dendrologische Vereniging, de Franse vereniging voor opmerkelijke bomen, de gemeenten Vorst, Watermaal-Bosvoorde, Sint-Lambrechts-Woluwe, Schaarbeek, Brussel enzovoort." en="Their organisations, management, colleagues or teams that allowed them to join us. Deserving particular mention are: the Natural Heritage Department of the Brussels Capital Region, the Botanic Garden Meise, the Belgian Society of Dendrology, the Association of Remarkable Trees of France, and also the individual municipalities of Forest, Watermael-Boitsfort, Woluwe-Saint-Lambert, Schaerbeek, City of Brussels, etc." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="A ceux et celles qui nous sondent, questionnent, corrigent, relisent, traduisent, nous mettent en réseau ... Leur franchise et leurs critiques, constructives et bienveillantes, nous sortent le nez du guidon, nous aident à prendre du recul, changer de perspective, ou tout simplement nous évitent bien des coquilles." nl="Aan diegenen die vragen op ons afvuren, ons verbeteren, nalezen, vertalen, met elkaar in contact brengen … Hun eerlijke feedback en hun constructieve en goedbedoelde kritiek verruimen onze blik, helpen ons om afstand te nemen, een ander perspectief in te nemen, of behoeden ons gewoonweg voor typefouten." en="Everyone who has tested, questioned, corrected, checked, and translated our work, and helped us expand our network... Their honesty, and their constructive and kind criticisms, helped us to take a step back, to change perspective, or simply to avoid errors." %}
            </div>
            <div class="sub-pitch black">
                Andreas Dietl <br>
                Anne Sophie Walazyc <br>
                Muriel Verhaegen<br>
                Jean Louis Van Malder<br>
                Denis Bouillon<br>
                Nicole Tonneau<br>
                Bernard Bachelard<br>
                Henriette Herkes<br>
                Thierry Lacasse<br>
                Frank Hidvegi<br>
                Sabine Husson<br>
                Pierre Timmermans<br>
                Mai Sas<br>
                …
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Ceux et celles qui veillent indirectement sur la forêt, en nous encourageant, en créant les conditions spatiales, temporelles et parfois même matérielles qui nous permettent de travailler. Sans leur présence, patience, amour cette aventure ne serait pas la même." nl="Diegenen die onrechtstreeks over het bos waken, door ons aan te moedigen, door de ruimte, de tijd en soms zelfs de materiële omstandigheden te scheppen waardoor we kunnen werken. Zonder hun aanwezigheid, geduld en liefde zou dit avontuur niet hetzelfde zijn." en="Everyone who indirectly watches over the forest, encouraging us, creating the conditions – whether spatial, temporal and sometimes even material – that allow us to do our work. This adventure would not be the same without their presence, patience and love." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Nos compagnes et compagnons" nl="Onze partners" en="Our partners and companions" %}<br>
                {% tr_label lang fr="Nos enfants" nl="Onze kinderen" en="Our children" %}<br>
                {% tr_label lang fr="Nos amis proches" nl="Onze goede vrienden" en="Our close friends" %}<br>
                {% tr_label lang fr="Nos mentors" nl="Onze mentors" en="Our mentors" %}<br>                
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Cette liste, déjà longue, n’est pas exhaustive : elle est la face immergée de cette forêt humaine !" nl="Deze lange lijst is nog altijd niet volledig: het is nog maar een summier stukje van dat menselijke bos!" en="Although this list is already long, it is by no means exhaustive: it represents only a part of the vast human forest!" %}
                {% tr_label lang fr="Merci à tous ceux qui - de près ou de loin, dans l’anonymat, indirectement, parfois même sans en être conscients - ont fertilisé WoodWide Web ou l’ont fait rayonner autour d’eux." nl="Bedankt aan iedereen die het Wood Wide Web – van ver of dichtbij, anoniem, onrechtstreeks, soms zelfs zonder zich ervan bewust te zijn – heeft bemest en heeft uitgedragen." en="Thank you to everyone who – from near and far, anonymously, indirectly, and sometimes even unknowingly – have fertilised the Wood Wide Web or made it radiate around them." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Un merci spécial aux structures qui ont cru dans ce projet un peu fou mené par une jeune asbl, qui font confiance à son développement et ses changements, nous soutiennent financièrement et matériellement. Ces partenaires ont une place spéciale dans la homepage de ce site." nl="Een speciaal woord van dank voor de instanties die geloofd hebben in dit toch wel waanzinnige project, gerund door een jonge vzw, die vertrouwen hebben in de ontwikkeling en de veranderingen ervan, en ons financieel en materieel ondersteunen. Die partners hebben een bijzondere plek gekregen op de homepage van deze site." en="A special thank you to the organisations that believed in this slightly wild project led by a young non-profit organisation, putting trust in its development and its changes, and supporting us financially and instrumentally. These partners have a special mention on our site’s homepage." %}
            </div>
        </div>
    </div>

    <div class="ba-wrapper">
        <div class="ba-txt-wrapper">
            <div class="pitch green">
                <span>
                    {% tr_label lang fr="Semeurs" nl="Zaaiers" en="Sowers" %}
                </span>
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="L’équipe actuelle de Wood Wide Web:" nl="Het huidige team van Wood Wide Web" en="The current Wood Wide Web team" %}
            </div>
            <div class="sub-pitch green">
                {% comment %} <img id="floated" src="{% static 'wood_core/images/semeurs/priscille.png' %}" alt="">           {% endcomment %}
                {% tr_label lang fr="Priscille Cazin, co-fondatrice de Wood Wide Web, auteur des portraits et fiches des arbres remarquables, co-auteur et co-réalisateur video responsable, animatrice et porte-parole du projet." nl="Priscille Cazin, medeoprichtster en verantwoordelijke van Wood Wide Web, auteur van de portretten en fiches van opmerkelijke bomen, medeauteur en mederegisseur van media, aanstuurder en woordvoerster van het project op het terrein." en="Priscille Cazin, co-founder and head of Wood Wide Web, author of the portraits and records about these remarkable trees, co-author and media co-director, facilitator and project spokesperson in the field." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Priscille est auteur, scénariste, réalisatrice, journaliste et productrice, entrepreneur social et environnemental. Depuis 20 ans elle crée, développe et produit des programmes d’information et de création audiovisuelle/numérique pour différents médias, notamment jeunesse (radio, TV, webTV). Elle réalise également des campagnes de sensibilisation média et de terrain qui s’adressent à un public large.  Priscille est passionnée par la vulgarisation scientifique, le traitement de l’information par le son et l’image, la communication empathique.  Les thématiques liées à la nature et l’humain sont au cœur de son travail depuis plusieurs années. Elle anime des ateliers pour jeunes et pour adultes sur les arbres et le sol, et guide des groupes au cœur de la forêt." nl="Priscille is auteur, scenarioschrijfster, regisseuse, journaliste en producer, sociaal en ecologisch ondernemer. Al 20 jaar creëert, ontwikkelt en producet ze informatieve programma’s en programma’s rond audiovisuele/digitale creatie voor verschillende media, en dan vooral voor de jeugd (radio, tv, internet-tv). Voor de media en op het terrein werkt ze ook bewustmakingscampagnes uit die een groot publiek moeten aanspreken. Priscille is gepassioneerd door het verspreiden van wetenschappelijke kennis aan het grotere publiek, de verwerking van informatie met geluid en beeld, en empathische communicatie. Thema’s die te maken hebben met de natuur en de mens staan al jarenlang centraal in haar werk. Ze geeft workshops voor jongeren en volwassenen rond bomen en de bodem, en ze gidst groepen in het bos." en="Priscille is an author, scriptwriter, director, journalist, producer, and social and environmental entrepreneur For 20 years, she has been creating, developing and producing information programmes and audio-visual creations for various media, including youth media (radio, TV, online). She also conducts awareness campaigns in the field and through media channels aimed at a wide audience. Priscille is passionate about bringing science to the people, handling information through sound and image, and communicating empathically. For several years, themes related to nature and humans have been at the heart of her work. She runs workshops related to trees and soil for youths and adults, and guides groups through the heart of the forest." %}
                <br>
                www.sylvolutions.eu<br>
                Contact : sylvolutions@gmail.com
            </div>
            <div class="sub-pitch green">
                {% comment %} <img id="floated" src="{% static 'wood_core/images/semeurs/gwen.png' %}" alt="">  {% endcomment %}
                {% tr_label lang fr="Gwen est le vidéaste du projet, chercheur et développeur de solution images,  co-auteur et co-réalisateur video" nl="Gwen is de videokunstenaar van het project, ontwikkelt en gaat op zoek naar beeldoplossingen (video, VR360), mede-auteur en mederegisseur van video’s." en="Gwen is the project videographer, researcher and image solutions developer (video, VR360), video co-author and co-director." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Depuis plus de 10 ans, à côté de tournages news, institutionnels et documentaire, Gwen teste sans cesse de nouvelles techniques : machineries, drônes, caméra embarquée. Bricoleur, son kit de tournage est en perpétuel développement. Il fabrique et modifie ses accessoires pour optimiser ses tournages. Ce cameraman grimpeur, choisit la forêt comme terrain de prédilection pour son expérimentation audiovisuelle. Il adapte ses techniques à la morphologie de chaque arbre/individu, à la recherche d’images organiques et sensuelles." nl="Naast zijn opnamewerk voor nieuwsuitzendingen, institutionele partners en documentaires test Gwen al meer dan 10 jaar onophoudelijk nieuwe technieken uit: installaties, drones, ingebouwde camera’s. De filmapparatuur van deze doe-het-zelver evolueert voortdurend. Hij maakt zijn eigen hulpstukken en bouwt ze om om zijn opnames te optimaliseren. Deze klimmende cameraman heeft het bos uitgekozen als het terrein bij uitstek voor zijn audiovisuele experimenten. Hij past zijn technieken aan de bouw van elke boom / elk individu aan en gaat op zoek naar organische beelden die de zinnen prikkelen." en="For more than 10 years, alongside news, institutional and documentary shooting, Gwen has been constantly experimenting with new techniques using machinery, drones and on-board cameras. Gwen is hands-on and constantly developing his film shooting kit. He makes and modifies his own accessories to optimize his film shooting. The forest is this rising cameraman’s favourite site for audio-visual experimentation. In the search for organic and sensual images, he adapts his techniques to each tree’s morphology." %}
                <br>
                https://vimeo.com/gwenvideos <br>
                Contact : gwenbreuls@hotmail.com            
            </div>
            <div class="sub-pitch green">
                {% tr_label lang fr="Griet anime le développement néerlandophone du projet, en ligne et dans des ateliers de terrain." nl="Griet is de drijvende kracht achter de Nederlandstalige ontwikkeling van het project, online en in workshops op het terrein." en="Griet leads the project’s Dutch-speaking development, both online and with groups in the field." %}
                {% comment %} <img id="floated" src="{% static 'wood_core/images/semeurs/griet.png' %}" alt="">  {% endcomment %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Griet a travaillé pendant de nombreuses années dans le théâtre comme rédactrice et coordinatrice, jusqu'à ce que le désir de se plonger à nouveau dans le mouvement et la créativité se manifeste. Elle a suivi une formation intensive en Mindfulness & Presence, et une formation de 4 ans pour devenir thérapeute du corps et du mouvement. Son parcours créatif se situe à l'intersection de la performance et de la cérémonie. Il est ancré dans la nature, et connecté aux êtres et aux arbres. La « Ancient Wisdom » est aussi un terreau fertile indispensable dans sa pratique." nl="Griet heeft jarenlang in het theater gewerkt, als redactrice en coördinatrice, tot het verlangen om zich opnieuw op beweging en creativiteit te storten de kop opstak. Ze heeft een intensieve vorming Mindfulness & Presence gevolgd, en een opleiding van vier jaar om bewegings- en lichaamstherapeute te worden. Haar creatieve parcours situeert zich op het snijpunt van performance en ceremonie. Het is verankerd in de natuur en verbonden met de wezens rondom ons en de bomen. ‘Ancient Wisdom’ is ook een onmisbare en vruchtbare voedingsbodem in haar praktijk." en="Griet worked as a writer and coordinator in the world of theatre for many years, before her desire to reimmerse herself in action and creativity manifested itself. She trained intensively in mindfulness and presence, and studied a 4-year course to become a body and movement therapist. Her creative journey mixes performance and ceremony, is anchored in nature, and connects individuals with trees. The ‘Ancient Wisdom’ is also an indispensable fertile ground for her and her practice." %}
                <br>
                www.spiderscanfly.com <br>
                Contact: griet@spidercanfly.com
            </div>
            <div class="sub-pitch green">
                {% tr_label lang fr="Dans les coulisses :" nl="Achter de schermen" en="Behind the scenes" %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Patrick Delfosse, auteur, réalisateur, producteur, journaliste. A côté de la direction de Instant News Services, INS, Patrick est le président de l’asbl ThreeTwoShoot qui nous rassemble et produit Wood Wide Web. Il est notre gardien et notre garde-fou." nl="Patrick Delfosse, auteur, regisseur, producer, journalist. Patrick staat aan het hoofd van Instant News Services, INS, en is daarnaast ook voorzitter van de vzw ThreeTwoShoot, waar wij onder vallen en die de productie van Wood Wide Web verzorgt. Hij is onze bewaker en behoeder." en="Patrick Delfosse, author, director, producer, journalist. Other than managing Instant News Services (INS), Patrick is also the president of the ThreeTwoShoot non-profit organisation which brought us together and produced the Wood Wide Web. He is our keeper and guardian angel." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Frédéric Fiévé, co-fondateur de Wood Wide Web, co-animateur et organisateur, co-direction artistique et technique du projet 2015-2017.  Moteur discret du projet jusqu’en 2017… " nl="Frédéric Fiévé, medeoprichter van Wood Wide Web, mede-aanstuurder en organisator, mee aan de leiding van de artistieke en technische kant van het project: discrete motor achter het project tot 2017." en="Frédéric Fiévé, co-founder of Wood Wide Web, co-animater and organiser, co-director of art and project techniques: humble driver of the project until 2017." %}
            </div>
            <div class="sub-pitch green">
                {% tr_label lang fr="Les co-équipiers" nl="De medespelers" en="Other Team Members" %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Bruno Campanella : Docteur en Environnement, et ingénieur agronome, membre de l’équipe en charge de l’inventaire des arbres remarquables au sein de la Direction des Monuments et des Sites, de la Région de Bruxelles Capitale. Avec ses conseils et connaissances scientifiques, Bruno joue un rôle essentiel à nos côtés dans l’élaboration des 150 fiches et portraits de Wood Wide Web. Le duo qu’il forme avec Catherine Leclercq nous éclaire souvent sur bien des sujets." nl="Bruno Campanella: Doctor in het milieu en landbouwkundig ingenieur, lid van het team dat instaat voor de inventaris van opmerkelijke bomen bij de Directie Monumenten en Landschappen van het Brussels Hoofdstedelijk Gewest. Met zijn advies en wetenschappelijke kennis speelt Bruno een cruciale rol aan onze zijde bij de uitwerking van de 150 fiches en portretten van Wood Wide Web. Het duo dat hij met Catherine Leclercq vormt, geeft ons vaak inzicht in tal van onderwerpen." en="Bruno Campanella: Doctor of environment and agronomist, member of the team in charge of the inventory of remarkable trees within the Brussels capital region’s Direction des Monuments et des Sites department. With his advice and scientific knowledge, Bruno plays a key role in helping us put together the 150 records and portraits in Wood Wide Web. Together with Catherine Leclercq, they often enlighten us about many subjects." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Atelier Cartographique – Pierre H., Pierre M., Pacôme, Nina en Sophie qui développent pour nous le site web, et sa carte participative : cœur du projet." nl="Atelier Cartographique – Pierre H., Pierre M., Pacôme, Nina en Sophie ontwikkelen de site van Wood Wide Web en het design ervan samen met ons." en="Atelier Cartographique – Pierre, Nina and Sophie work with us to develop the website for the Wood Wide Web and its overall design." %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Triangle Translations – Joan Roels, Samantha Couset et leur équipe assurent le trilinguisme des portraits et fiches des arbres remarquables." nl="Triangle Translations – Joan Roels, Samantha Couset en hun team van vertalers zorgen ervoor dat de site, de portretten en de fiches in drie talen beschikbaar zijn." en="Triangle Translation – Joan Roels, Samantha Couset and their team of translators help ensure our site, tree portraits and records are all trilingual." %}
            </div>
            <div class="sub-pitch green">
                {% tr_label lang fr="Nos collaborateurs" nl="Onze medewerkers" en="Our Collaborators" %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Slanje -  Mark Vanderstraten, post producteur et co-réalisateur des vidéos verticales" nl="Slanje - Mark Vanderstraten, postproducer en mederegisseur van verticale video’s" en="Slanje – Mark Vanderstraten, post-production and co-director of portrait-format videos" %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Animal Sound - Arnaud Riedinger, ingénieur du son, musicien et créateur sonore" nl="Animal Sound - Arnaud Riedinger, geluidstechnicus, muzikant en geluidsontwerper" en="Animal Sound – Arnaud Riedinger, sound engineer, musician and sound designer" %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="Numic – Graphic design, Julien-Pierre Buse et son équipe" nl="Numic – Graphic design, Julien-Pierre Buse en zijn team" en="Numic – Graphic design, Julien-Pierre Buse and team" %}
            </div>
            <div class="sub-pitch black">
                {% tr_label lang fr="7 billion urbanists – Laboratoire d’urbanisme collaboratif / open source" nl="7 billion urbanists – Coöperatief laboratorium voor stedenbouw / open source" en="7 billion urbanists – Collaborative urban planning laboratory / open source" %}
            </div>
        </div>
    </div>

</article>
