{% load static %}
{% load wood %}


<article class="how-to">

    <div class="ba-wrapper">

        <div class="ba-txt-wrapper">

            <div class="pitch black">
                <span>{% tr_label lang fr="Utiliser" nl="De atlas" en="" %}</span>
                <span>{% tr_label lang fr="l'atlas" nl="gebruiken" en="" %}</span>
            </div>

            <div class="sub-pitch black">

                {% if lang == 'fr' %}
                <a href="{% static 'wood_core/files/Page_APropos1a1_Atlas.pdf' %}">Lire la documentation</a>
                {% elif lang == 'nl' %}
                <a href="{% static 'wood_core/files/Page_APropos1a1_Atlas_NL.pdf' %}">Lees hier de info</a>
                {% else %}
                <a href="{% static 'wood_core/files/Page_APropos1a1_Atlas.pdf' %}">Read more</a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="ba-wrapper">

        <div class="ba-txt-wrapper">

            <div class="pitch orange">
                <span>{% tr_label lang fr="Fiches" nl="Fiches" en="" %}</span>
                <span>{% tr_label lang fr="et portraits" nl="en portretten" en="" %}</span>
            </div>

            <div class="sub-pitch black">{% tr_label lang fr="Chacun des points de la carte mène à une fiche ou un grand portrait qui dévoilent l'identité d'un arbre, son rôle, et son caractère." nl="Iedere stip op de kaart leidt naar een fiche of een uitgebreid portret over de identiteit van de boom, zijn rol en zijn karakter" en="" %} 
                <br>
                <br>

                {% if lang == 'fr' %}
                <a href="{% static 'wood_core/files/Page_APropos1a2_FichePortrait.pdf' %}">Lire la documentation</a> <br>
                <a href="{% static 'wood_core/files/Bibliographie_et_Webographie.pdf' %}">Bibliographie</a>
                {% elif lang == 'nl' %}
                <a href="{%static 'wood_core/files/Page_APropos1a2_FichePortrait_NL.pdf' %}">Lees hier de info</a>
                {% else %}
                <a href="{% static 'wood_core/files/Page_APropos1a2_FichePortrait.pdf' %}">Read more</a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="ba-wrapper">

        <div class="ba-txt-wrapper">

            <div class="pitch green">
                <span>{% tr_label lang fr="Services" nl="Nut" en="" %}</span>
                <span>{% tr_label lang fr="de l'arbre" nl="van de boom" en="" %}</span>
            </div>

            <div class="sub-pitch black">{% tr_label lang fr="Pourquoi les arbres sont-ils essentiels en ville ? <br> En quoi sont-ils intéressants pour nous et pour le milieu urbain ?" nl="Waarom zijn bomen onmisbaar in de stad? Welk belang hebben ze voor ons en voor de stadsomgeving?" en="" %} <br>
            <br>

            {% if lang == 'fr' %}
            <a href="{% static 'wood_core/files/Page_APropos1a3_ArbreUtile.pdf' %}">Lire la documentation</a>
            {% elif lang == 'nl' %}
            <a href="{% static 'wood_core/files/Page_APropos1a3_ArbreUtile_NL.pdf' %}">Lees hier de info</a>
            {% else %}
            <a href="{% static 'wood_core/files/Page_APropos1a3_ArbreUtile.pdf' %}">Read more</a>
            {% endif %}

            </div>
        </div>
    </div>
</article>