{% load static %}
{% load wood %}

<article class="grow">

    <div class="ba-wrapper">

        <div class="ba-txt-wrapper">

            <div class="pitch black">
                <span>{% tr_label lang fr="Ajouter un arbre" nl="Een boom toevoegen" en="Add a tree" %}</span>
                <span>{% tr_label lang fr="à l'atlas" nl="aan de atlas" en="to the atlas" %}</span>
            </div>

            <div class="sub-pitch black"> 
                {% tr_label lang fr="Cet outil est le cœur du projet. Il vous permet de : repérer les arbres, accéder à leurs contenus médias et en proposer de nouveaux. Le but : transformer petit à petit cette carte en jungle…" nl="De atlas is het hart van Wood Wide Web. Hier kan je de bomen opzoeken, de media over de bomen raadplegen en nieuwe media (teksten, beelden, tekeningen...) toevoegen. Zo toveren we stap voor stap deze kaart om in een jungle …" en="This tool is the heart of the project. It allows you to: locate trees, access their media content and add your own. The aim: bit by bit, to transform this map into a flourishing jungle…" %} 
                <br>
                <br>
                {% if lang == 'fr' %}
                <a href="{% static 'wood_core/files/Page_APropos2a1_AjouterArbre.pdf' %}">Lire la documentation</a>
                {% elif lang == 'nl' %}
                <a href="{% static 'wood_core/files/Page_APropos2a1_AjouterArbre_NL.pdf' %}">Lees hier de info</a>
                {% else %}
                <a href="{% static 'wood_core/files/Page_APropos2a1_AjouterArbre.pdf' %}">Read more</a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="ba-wrapper">

        <div class="ba-txt-wrapper">

            <div class="pitch orange">
                <span>{% tr_label lang fr="Reconnaître son espèce, et le géolocaliser" nl="De boomsoort herkennen <br>en de boom geolokaliseren" en="Identify the tree specie, and geolocate it" %}</span>
            </div>

            <div class="sub-pitch black"> 
                {% tr_label lang fr="Nous avons rassemblé quelques conseils pour vous aider à géolocaliser votre arbre, et des outils pour deviner à quelle espèce il appartient." nl="We geven je tips om je boom te geolokaliseren en een aantal tools om te achterhalen om welke soort het gaat" en="We offer some tips to help you geolocate your tree, and tools for determining what kind of tree it is." %} 
                <br>
                <br>
                {% if lang == 'fr' %}
                <a href="{% static 'wood_core/files/Page_APropos2a2_Espece.pdf' %}">Lire la documentation "espèces"</a>
                {% elif lang == 'nl' %}
                <a href="{% static 'wood_core/files/Page_APropos2a2_Espece_NL.pdf' %}">Lees hier de info over 'de boomsoort'</a>
                {% else %}
                <a href="{% static 'wood_core/files/Page_APropos2a2_Espece.pdf' %}">Read more about "Species"</a>
                {% endif %}
                                
                <br>
                
                {% if lang == 'fr' %}
                <a href="{% static 'wood_core/files/Page_APropos2a2_GPS.pdf' %}">Lire la documentation "Géolocalisation"</a>
                {% elif lang == 'nl' %}
                <a href="{% static 'wood_core/files/Page_APropos2a2_GPS_NL.pdf' %}">Lees hier de info over 'geolokaliseren'</a>
                {% else %}
                <a href="{% static 'wood_core/files/Page_APropos2a2_GPS.pdf' %}">Read more about "Geolocation"</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ba-wrapper">

        <div class="ba-txt-wrapper">

            <div class="pitch green">
                <span>{% tr_label lang fr="Planter" nl="Een boom planten" en="Plant a tree" %}</span>
            </div>

            <div class="sub-pitch black"> {% tr_label lang fr="à l'automne 2019 ..." nl="in de herfst van 2019 ..." en="It's possible to plant a tree in the city! <br>And also, to care for trees.<br> How to keep it sustainable? <br>More soon: in late 2018 and spring 2019" %} </div>
        </div>
    </div>
</article>
