{% load static %}
{% load wood %}


<article class="how-to-img">
    <div class="pitch white"> {% tr_label lang fr="Regarder Bruxelles <br> comme une forêt" nl="Brussel bekijken <br> als een bos" en="Look at Brussels <br> as a forest" %}  </div>
</article>