{% load static %}
{% load wood %}

<article class="grow-img">
    <div class="pitch white"> 
    {% tr_label lang fr="Faire pousser la forêt <br> avec nous" nl="Samen doen we het bos <br> groeien" en="Join us <br> in growing the forest" %}  
    </div>
</article>
