{% load static %}
{% load wood %}

<article class="actors-img">

    <div class="pitch white">
    {% comment %} {% tr_label lang fr="La communauté : <br> les acteurs de la forêt" nl="De gemeenschap: <br> de spelers van het bos" en="The community : Actors in the forest" %} {% endcomment %}
    {% tr_label lang fr="La communauté:" nl="De gemeenschap:" en="The community:" %}
    </div>

    <div class="sub-pitch white">
        {% tr_label lang fr="Merci aux arbres et à la forêt, ces êtres vivants <br> sensibles, communicants, complexes, silencieux, incroyablement efficaces, <br> qui nous inspirent et qui nous rendent tant de services essentiels." nl='Bedankt aan de bomen en het bos, die gevoelige, <br> complexe, stille, ongelooflijk efficiënte levende wezens, <br> die met elkaar in verbinding staan, die ons inspireren  <br> en die ons zoveel essentiële diensten verlenen.' en='Thank you to the trees and the forest. <br> These sensitive, communicative, complex, silent, <br> and incredibly efficient living beings which inspire us <br> and help us with so many essential things in life.' %}
    </div>
    <div class="sub-pitch white">
        {% tr_label lang fr="Merci aussi à tous ceux et celles qui s’impliquent,  <br> ponctuellement, ou régulièrement dans Wood Wide Web." nl='Bedankt ook aan iedereen die sporadisch <br> of regelmatig betrokken is bij Wood Wide Web.' en='Thank you as well to everyone that gets involved, <br> whether regularly or occasionally, with Wood Wide Web.' %}
    </div>
</article>
