{% load static %}
{% load wood %}

<article class="before-after">

    <div class="pitch long green">

        {% tr_label lang fr="Dynamique et interactive cette expérience crossmedia raconte des histoires d’arbres urbains et propose différents niveaux de participation. Elle invite les écoles, familles, simples promeneurs, touristes à se joindre à l’aventure d’une forêt qui pousse en ville." nl=" Deze dynamische en interactieve crossmedia-ervaring vertelt verhalen van stadsbomen. Je kan ook zelf meedoen als school, gezin, wandelaar of toerist. Stap mee in het avontuur van een bos dat groeit in de stad." en='This dynamic, interactive, crossmedia experience tells the stories of urban trees and allows you to participate in all kinds of ways. It invites anyone: schools, families, walkers, tourists… to join the adventure of discovering the forest that’s growing, right here in our city.' %}

    </div>

    <div class="ba-wrapper">

        <div class="circle circle-1">
            <img src="{% static 'wood_core/svg/wowiwe-imago-1.svg' %}" alt="">
        </div>

        <div class="ba-txt-wrapper">

            <div class="pitch black">
                <span>{% tr_label lang fr="Découvrir" nl="Verkennen" en="Explore" %}</span>
                <span>{% tr_label lang fr="S’émerveiller" nl="& verwonderen" en="and be amazed" %}</span>
            </div>

            <div class="sub-pitch">
            
                {% tr_label lang fr="Wood Wide Web vous propose d’ouvrir vos yeux : regarder Bruxelles comme si c’était une forêt. Vous pouvez l’explorer grâce à sa carte et de multiples contenus. Ils vous permettent de (re)découvrir les arbres en ville, leurs histoires, leurs caractéristiques. Le but est de vous enchanter : révéler leur beauté, leur rôle, leur caractère, visibles ou invisibles." nl="Wood Wide Web nodigt je uit om Brussel te bekijken als een bos. Dankzij de kaart met talrijke gegevens en rijke informatie, kan je op verkenning gaan, en de bomen in de stad, hun verhalen en specifieke kenmerken, (her)ontdekken. Laat je verwonderen door de schoonheid, de rol en het karakter van de bomen – zichtbaar en onzichtbaar." en="Wood Wide Web invites you to open your eyes: look at Brussels as if it were a forest. Through the map and various entries, you can explore it and (re)discover the trees in the city, their stories and specific qualities. The aim is to inspire a sense of wonder: discover their beauty, their role and their character, both inside and out."%}
            
            </div>

            <div class="pitch black">
                <span>2017</span>
            </div>
        </div>
    </div>

    <div class="ba-wrapper">

        <div class="circle circle-2">
            <img src="{% static 'wood_core/svg/wowiwe-imago-2.svg' %}" alt="">
        </div>

        <div class="ba-txt-wrapper">

            <div class="pitch orange">
                <span>{% tr_label lang fr="Rencontrer" nl="Ontmoeten" en="Encounter" %}</span>
                <span>{% tr_label lang fr="Relier" nl="& verbinden" en="Connect" %}</span>
            </div>

            <div class="sub-pitch"> 
            
            {% tr_label lang fr="Wood Wide Web tisse des liens entre les arbres et toute une série d’acteurs culturels, sociaux, scientifiques, institutionnels. Cette communauté fait pousser la forêt urbaine et propose toute une série d’activités à leurs pieds. Vous pourrez participer à ces activités de terrain." nl="Wood Wide Web verbindt de bomen met een hele reeks culturele, sociale, wetenschappelijke en institutionele spelers. Deze gemeenschap doet het stadsbos groeien en organiseert een hele reeks activiteiten aan de voet van de bomen. Wees welkom om deel te nemen aan deze activiteiten op het terrein." en="Wood Wide Web builds links between trees and a diverse range of players in the cultural, social, scientific and institutional worlds. This community nourishes the growth of the urban forest and offers a whole series of activities around and beneath the trees. Anyone can get involved in these activities in the field." %}
            
            </div>

            <div class="pitch orange">
                <span>2018</span>
            </div>
        </div>
    </div>

    <div class="ba-wrapper">

        <div class="circle circle-3">
            <img src="{% static 'wood_core/svg/wowiwe-imago-3.svg' %}" alt="">
        </div>

        <div class="ba-txt-wrapper">

            <div class="pitch green">
                <span>{% tr_label lang fr="Contribuer" nl="Meewerken" en="Contribute" %}</span>
                <span>{% tr_label lang fr="Faire pousser" nl="& doen groeien" en="Drive growth" %}</span>
            </div>

            <div class="sub-pitch"> 
            
            {% tr_label lang fr="Nous vous proposons de vous joindre à l’aventure en participant à nos activités de terrain: elles permettent au projet de voler de ses propres ailes. Nous espérons que vous aurez envie de faire pousser la forêt urbaine avec nous. Soit virtuellement, en ajoutant votre arbre préféré à notre carte ou en complétant une fiche existante. Soit pour de vrai, en prenant soin d'un arbre en ville ou même en plantant de nouveaux..." nl="Stap mee in het avontuur van Wood Wide Web. Voeg je favoriete boom toe, samen met een stukje tekst en beeldmateriaal – zo kunnen ook anderen je boom leren kennen. Wij hopen dat je samen met ons het stadsbos wil doen groeien, door een of meerdere bomen te adopteren, te verzorgen, of door nieuwe bomen te planten." en="We invite you to join the adventure. You, too, can add your favourite tree and your media content for others to enjoy. We hope that you will be inspired to join us in helping this urban forest to thrive: you can adopt a tree (or several), take care of a tree, or even plant new ones." %}

            </div>

            <div class="pitch green">
                <span>2019 à aujourd'hui</span>
            </div>
        </div>
    </div>
</article>