{% load wood %}
<!-- Activités -->
{% if tree.activity_set.count > 0 %}
<div class="item">
    <h2>{% tr_label lang fr="Lien vers les activités" nl="Link naar activiteiten" en="Link to activities"%}</h2>
    {% for a in tree.activity_set.all %}
    <div class="item">
        <div class="content">
            <p><a href="{{a.url|tr:lang}}">{{a.label|tr:lang}}</a></p>
        </div>
    </div>
    {% endfor %}
</div>
{%endif%}