{% load static %} 
{% load wood %}
<!doctype html>
<html class="no-js" lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <title>{% block title %}{% endblock %} - Wood Wide Web</title>    
    {% block opengraph %}{% endblock %}
    <style media="screen">
    {% block inline_style %}{% endblock %}
    </style>
    {% block js %}{% endblock %}
</head>
<body  class="atlas">
{% block body %}Empty Body{% endblock %}
</body>
</html>