{% load wood %}

<!-- address -->

<div class="contrib-block">
    <H3>
        {% tr_label lang fr="Pour enrichir cet arbre" nl="Maak deze boom rijker" en="Enhance this tree’s record" %}
    </H3>
    
    <div class="text">
        <span> {% tr_label lang fr="Vous pouvez participer au foisonnement de Wood Wide Web et compléter cette fiche en ajoutant " nl="Je kan Wood Wide Web mee laten bloeien door deze fiche aan te vullen met" en="You can participate in Wood Wide Web’s expansion and complete this record by adding..." %}</span>
        <a href="{% url 'wood-img-contrib-new' lang tree.id %}">{% tr_label lang fr="une&nbsp;image" nl="een&nbsp;afbeelding" en="a&nbsp;photo" %}</a>
        <span>{% tr_label lang fr=" ou " nl=" of " en="&nbsp;or&nbsp;" %}</span>
        <a href="{% url 'wood-text-contrib-new' lang tree.id %}">{% tr_label lang fr="un&nbsp;texte" nl="een&nbsp;tekst" en="a&nbsp;text" %}</a>
    </div>
</div>