{% load wood %}

<!-- description -->
<section class="description">

    <h2>{% tree_description_title lang tree %}</h2>
    <div class="item">
        <div class="content">
            <p> {% tree_description lang tree %} </p>
        </div>
    </div>

    <div class="item">
        {% if textcontribs %}
        <h2>{% tr_label lang fr="Contributions" nl="Bijdragen" en="Contributions" %}</h2>
        {% for contrib in textcontribs %}
        <div class="content">
            <span>{{contrib.text | md}} </span>
            <div class=text-caption>
                <span>({{contrib.contributor}}, {{contrib.format_created_date}} )</span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</section>