{% load static %}
{% load wood %}

<div class="footer-atlas">
    <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/www.svg' %}" alt="wood wide web"></a>
    <a href="{% url 'wood-index' lang %}#footer">{% tr_label lang fr="Contact & Newsletter" nl="Contact & Nieuwsbrief" en="Contact & Newsletter"%}</a>
    
    <a href="https://www.facebook.com/groups/168183870459622/" target="_blank"><img src="{% static 'wood_core/svg/fb-white.svg' %}"
            alt="woodwideweb on FB"></a>
    <a href="https://www.instagram.com/woodwideweb.brussels/" target="_blank">
            <img src="{% static 'wood_core/svg/wowiwe-insta-white.svg' %}" alt="">
    </a>
    <a href="https://roundme.com/tour/522373/view/1730450/" target="_blank">
        <img src="{% static 'wood_core/svg/roundme.png' %}" alt="">
    </a>
    <a href="https://vimeo.com/user70565118" target="_blank">
            <img src="{% static 'wood_core/svg/vimeo.png' %}" alt="">
    </a>

    <div class="copyright">
        © Woodwideweb asbl
    </div>

    <div class="ac-credits">
        dev &amp; design :
        <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">atelier cartographique</a>
    </div>
</div>