{% load wood %}

<!-- identity -->

<div class="identity">

    <h2>{% tr_label lang fr="Carte d'identité" nl="Identiteit" en="Identity"%}</h2>
    
    {% if tree.category == 'rmqb' or tree.category == 'inv' %}
    <div class="item">
        <div class="label">{% tr_label lang fr="Catégorie :" nl="Categorie :" en='Category : '%}</div>
        <div class="content">
            <span>Arbre remarquable</span>
        </div>
    </div>
    {% endif %}

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en latin :" nl="Latijn :" en='Latin name : '%}</div>
        <div class="content">
            <span>{{ tree.taxon.genus }} {{ tree.taxon.species }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en français :" nl="Naam FR :" en="French name :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.name.fr }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en néerlandais :" nl="Naam NL :" en='Dutch name :' %}</div>
        <div class="content">
            <span>{{ tree.taxon.name.nl }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Nom en anglais :" nl="Naam EN :" en='English name :' %}</div>
        <div class="content">
            <span>{{ tree.taxon.name.en }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Famille :" nl="Familie :" en="Family :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.family }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Hauteur :" nl="Hoogte :" en='Height :' %}</div>
        <div class="content">
            <span>{{ tree.height|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Hauteur visée :" nl="Beoogde hoogte :" en="Targeted height :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.max_height|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Diamètre de la couronne :" nl="Diameter kruin :" en="Diameter of the crown :" %}</div>
        <div class="content">
            <span>{{ tree.crown_diameter|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Circonférence du tronc :" nl="Omtrek van de stam :" en="Trunk circumference :" %}</div>
        <div class="content">
            <span>{{ tree.circumference|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Circonférence espérée :" nl="Verwachte omtrek :" en="Expected circumference :" %}</div>
        <div class="content">
            <span>{{ tree.taxon.max_circumference|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Longévité espérée :" nl="Verwachte levensduur :" en="Expected longevity :"%}</div>
        <div class="content">
            <span>{{ tree.taxon.max_age|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Origine / Indigène :" nl="Oorsprong/Afkomst :" en='Origin / Indigenous' %}</div>
        <div class="content">
            <span>{{ tree.taxon.origin|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Sol préféré :" nl="Voorkeursbodem :" en='Favorite soil :' %}</div>
        <div class="content">
            <span>{{ tree.taxon.soil|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Climat préféré :" nl="Voorkeursklimaat :" en='Favorite climate' %}</div>
        <div class="content">
            <span>{{ tree.taxon.climate|tr:lang }}</span>
        </div>
    </div>
</div>

<!-- /identity -->