{% load static %}
{% load wood %}

<article class="observe" id = "block7">

    <div class="pitch"> 
        {% tr_label lang fr="Développer <br> le sens de l’observation" nl="Leren observeren"  en="Sharpen your <br>observational skills" %}
    </div>

    <div class="pitch"> 
        {% tr_label lang fr="Aiguiser <br> le regard" nl="Kijken met scherpe blik"  en="Take a closer look" %}
    </div>

    <div class="sub-pitch"> 
        <a href="{% url 'wood-atlas-tree' lang 20 %}">
        {% tr_label lang fr="Le merisier de l'Hippodrome de Boitsfort <br> Forêt de Soignes, Uccle" nl="Zoete kers, Renbaan van Bosvoorde <br> Zoniënwoud Ukkel" en="Wild cherry <br> Boistfort's hippodrome, Sonian Forest, Uccle" %}
        </a>
    </div>

    <div class="arrow-down">
        <a href= "#block8"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>
