{% load static %}
{% load wood %}

<article class="activite" id="block8">

    <div class="pitch">
        {% tr_label lang fr="Découvrir et participer <br> à des activités de terrain" nl="Ontdek de activiteiten op het terrein <br> en doe mee!" en="" %}

    </div>

    <div class="sub-pitch"> 2024 <br>

        {% if lang == 'fr' %}
        <a href="{% static 'wood_core/files/Article_Agenda.pdf' %}" target="_blank">Agenda</a>
        {% elif lang == 'nl' %}
        <a href="{% static 'wood_core/files/Article_Agenda_NL.pdf' %}" target="_blank">Agenda</a>
        {% else %}
        <a href="{% static 'wood_core/files/Article_Agenda.pdf' %}" target="_blank">Calendar</a>
        {% endif %}

        {% comment %} <br> {% endcomment %}

        {% comment %} {% if lang == 'fr' %}
        <a href="{% static 'wood_core/files/Article_Activites_QuoideNeuf.pdf' %}" target="_blank">Quoi de neuf</a>
        {% elif lang == 'nl' %}
        <a href="{% static 'wood_core/files/Article_Activites_QuoideNeuf_NL.pdf' %}" target="_blank">Wat is nieuw</a>
        {% else %}
        <a href="{% static 'wood_core/files/Article_Activites_QuoideNeuf.pdf' %}" target="_blank">What's new</a>
        {% endif %} {% endcomment %}
    </div>

    <div class="arrow-down">
        <a href="#block9"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>