{% load static %}
{% load wood %}

<article class="media-pitch" id="block3">

    <div class="media-infos-wrapper">

        <div class="pitch white"> 
            {% tr_label lang fr="Les médias <br> foisonnent" nl="Een rijkdom <br> aan media"  en="Branching out <br> with multimedia" %}
            <br>
        </div>

        <div class="sub-pitch white">
            {% tr_label lang fr="Des photos, capsules audio, <br> illustrations, parfois des vidéos, <br> éclairent ces grands végétaux <br> d’un point de vue original, <br> sensible ou scientifique." nl="foto's, geluidsopnames, <br> illustraties en ook video’s, <br> belichten de bomen <br> vanuit een originele, <br> zintuiglijke of wetenschappelijke <br> invalshoek."  en="Photos, illustrations, <br>and even audio or video clips <br>introduce these titans <br>of the plant world <br>from surprising sensorial <br>and scientific points of view." %}
        </div> 
        

    </div>
    <div class="arrow-down">
        <a href= "#block4"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>