{% load static %}
{% load wood %}

<!-- mobile specific block -->

<div id = "block6">

    <article class="mob-portrait" >

        <div class="pitch">
            {% tr_label lang fr="Voyager <br> dans le temps" nl="Reizen <br> door de tijd"  en="Travel in time" %}
        </div>

        <div class="sub-pitch">
            <a href= ''>{% tr_label lang fr="Tilleul Argenté <br> Boulevard des Invalides, Auderghem" nl="Zilverlinde <br> Invalidenlaan, Oudergem"  en="Silver Lime <br> Boulevard des Invalides, Auderghem" %}</a>
            <br>
            1930-2015
            <br>
        </div>

    </article>

    <article class="media-avap">

        <div class="pitch">
            {% tr_label lang fr="Voyager <br> dans le temps" nl="Reizen <br> door de tijd"  en="Travel in time" %}
        </div>

        <div class="sub-pitch">
            <a href =  "{% url 'wood-atlas-tree-imported' lang '9'%}">{% tr_label lang fr="Tilleul Argenté <br>" nl="Zilverlinde <br>" en="Silver Lime <br>" %}</a>
            {% tr_label lang fr="Boulevard des Invalides, Auderghem"  nl="Invalidenlaan, Oudergem" en="Boulevard des Invalides, Auderghem" %}
            <br>
            1930-2015
            <br>
            <a href="http://bruciel.brussels/" target="_blank">
                bruciel.brussels
            </a>
        </div>

        <div class="arrow-down">
            <a href= "#block7"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
            <hspace>
        </div>
    </article>

</div>
