{% load static %}
{% load wood %}

<article class="walk" id="block-walk">

    <div class="pitch white">
        {% tr_label lang fr=" Promenade d'arbre en arbre" nl="Wandeling van boom tot boom" en="Tree Walks" %}
    </div>

    <div class="sub-pitch white">
        <div class=link>
            <a href="{% url 'wood-walk-single' lang 8 %}">
                {% tr_label lang fr="Traces de campagne - Boondael" nl="Sporen van het platteland van Elsene - Boondaalwijk" en="Remnants of the Ixelles countryside - -Boondael" %}
            </a>
        </div>
    </div>
    <div class="arrow-down">
        <a href="#block3"><img src="{% static 'wood_core/svg/arrow-down.svg' %}" alt=""></a>
    </div>
</article>