{% load wood %}
<!-- attached-medias -->
<div class="media-collection">

    {% for media in tree|embed:'vimeo' %}
    <div class="media-video">
        <iframe 
            src="https://player.vimeo.com/video/{{media.media_id}}?title=0&amp;byline=0&amp;portrait=0"
            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" class="video-v" frameborder="0"></iframe>
    </div>
    {% endfor %}

    {% for media in tree|embed:'youtube' %}
    <div class="media-video">
        <iframe width="100%" src="https://www.youtube.com/embed/{{media.media_id}}?rel=0&amp;showinfo=0" frameborder="0" gesture="media"
            allow="encrypted-media" allowfullscreen></iframe>
    </div>
    {% endfor %}

    {% for pic in tree.picture_tree.all %}
    <div class="media-image-wrapper">
        <style>
        {% for sz in media_sizes %}
        @media (max-width: {{sz}}px) {
            #pictree_{{pic.id}} {
                background-image: url("{% url 'wood-media' 'treepicture' pic.id sz %}");
                padding-top: {{ pic.file|ratio:sz }}%;
            }
        }
        {% endfor %}
        </style>
        <a href="{{pic.file.url}}">
            <div id="pictree_{{pic.id}}" class="media-image">
            </div>
            {% if pic.caption|tr:lang is not '' %}
            <div class="media-caption">{{pic.caption|tr:lang}}</div>
            {% endif %}
        </a>
    </div>
    {% endfor %}
</div>