{% load static %} 
{% load wood %}


<!-- NAVIGATE -->
<div class="nav-widget">
    {% include "wood_core/contribution-invite.html" %}
    <div class="map-link">
        {% comment %} <a href="{% url 'wood-atlas' lang %}">
            <img src="{% static 'wood_core/images/gif/carte-orthos-communes-03-p-fond-FR-600.gif' %}" alt="">
        </a> {% endcomment %}
    </div>
</div>