{% load static %}
{% load wood %}


<div id="mc_embed_signup">
    <form action="//woodwideweb.us16.list-manage.com/subscribe/post?u=5ddd2f07e24f445f8beb68f04&amp;id=3a11865772" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>

            <div class="mc-field-group">
                <label for="mce-FNAME">Prénom / Voornaam / First name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>

            <div class="mc-field-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>

            <div id="mce-responses" class="clear">

                <div class="response" id="mce-error-response" style="display:none"></div>

                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_5ddd2f07e24f445f8beb68f04_3a11865772" tabindex="-1" value="">
            </div>

            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>

            <div class="helptext gdpr">
                <a href="{% static 'wood_core/files/GDPR_FR_NL.pdf' %}">{% tr_label lang fr='Respect de votre vie privée' nl='Respect voor uw privacy' %}</a>
            </div>
        </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->