{% load wood %}
{% load static %}


<div class="main-partners">
    <img src="{% static 'wood_core/images/logos/white/200px/kilou.png' %}" alt="kilou">
    <img src="{% static 'wood_core/images/logos/white/200px/mondoTV.png' %}" alt="mondoTV">
    <img src="{% static 'wood_core/images/logos/white/200px/triangle.png' %}" alt="TriangleT">
    <img src="{% static 'wood_core/images/logos/white/200px/animal.jpg' %}" alt="Animal Sound">
    <img src="{% static 'wood_core/images/logos/white/200px/r-havik.png' %}" alt="griet">
    <img src="{% static 'wood_core/images/logos/white/200px/slanj.jpg' %}" alt="slanj">
    <img src="{% static 'wood_core/images/logos/white/200px/WeTellStories.png' %}" alt="we tell stories">
    <img src="{% static 'wood_core/images/logos/white/200px/scam.png' %}" alt="SACD">
    <img src="{% static 'wood_core/images/logos/white/200px/videolab.png' %}" alt="videolab">
    <img src="{% static 'wood_core/images/logos/white/200px/F-LAT.png' %}" alt="F-LAT">
    <img src="{% static 'wood_core/images/logos/white/200px/flh.png' %}" alt="FLH">
    <img src="{% static 'wood_core/images/logos/white/200px/LBE.jpg' %}" alt="">
    <img src="{% static 'wood_core/images/logos/white/200px/geo2play.png' %}" alt="geo2play">
    <img src="{% static 'wood_core/images/logos/white/200px/chroma.png' %}" alt="chroma">
</div>