{% load wood %}
<!-- MAIN IMAGE -->
<section class="main-img">
    {% if tree.photomaton %}
        <style>
        {% for sz in media_sizes %}
            @media (max-width: {{sz}}px) {
                #photmaton_{{tree.id}} {
                    background-image: url("{% url 'wood-media' 'tree' tree.id sz %}");
                    padding-top: {{ tree.photomaton|ratio:sz }}%;
                }
            }
        {% endfor %}    
        </style>
        <div id="photmaton_{{tree.id}}" class="photomaton"></div>
    {% elif imgcontribs.0 %}
         <style>
        {% for sz in media_sizes %}
            @media (max-width: {{sz}}px) {
                #photmaton_{{imgcontribs.0.id}} {
                    background-image: url("{% url 'wood-media' 'img-contrib' imgcontribs.0.id sz %}");
                    padding-top: {{ imgcontribs.0.picture|ratio:sz }}%;
                }
            }
        {% endfor %}    
        </style>
        <div id="photmaton_{{imgcontribs.0.id}}" class="photomaton"></div>
    
    {% endif %}
</section>