{% load wood %}

{% if tree.service %}
<div class="services">
    <h2>{% tr_label lang fr="Utilité et services de l'arbre" nl="Diensten geleverd door deze boom" en='Usefulness and services of the tree :' %}</h2>

    <div class="item">
        <div class="label">{% tr_label lang fr="Embellit le paysage :" nl="Verfraait het landschap :" en='Enhances the landscape :' %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.beauty|quality_score }}</span>
            <span class="k-label">{{ tree.service.beauty.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Enrichit la biodiversité :" nl="Verrijkt de biodiversiteit :" en='Enhances the biodiversity :' %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.biodiversity|quality_score }}</span>
            <span class="k-label">{{ tree.service.biodiversity.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Fournit de l'oxygène :" nl="Levert zuurstof :" en='Provide oxygen :' %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.oxygeny|quality_score }}</span>
            <span class="k-label">{{ tree.service.oxygeny.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Purifie l'air :" nl="Zuivert de lucht :" en="Purify the air :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.purify|quality_score }}</span>
            <span class="k-label">{{ tree.service.purify.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Filtre l'eau :" nl="Filtert het water :" en="Filter the water :"%}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.filtery|quality_score }}</span>
            <span class="k-label">{{ tree.service.filtery.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Évite les inondations :" nl="Voorkomt overstromingen :" en='Prevents flooding :' %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.floody|quality_score }}</span>
            <span class="k-label">{{ tree.service.floody.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Stocke le carbone :" nl="Slaat koolstof op :" en="Stores carbon :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.carbony|quality_score }}</span>
            <span class="k-label">{{ tree.service.carbony.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Adoucit le climat :" nl="Verzacht het klimaat :" en='Softens the climate :' %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.sweety|quality_score }}</span>
            <span class="k-label">{{ tree.service.sweety.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Limite l'érosion du sol :" nl="Beperkt de erosie van de bodem :" en="Limits soil erosion :" %}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.soily|quality_score }}</span>
            <span class="k-label">{{ tree.service.soily.value|tr:lang }}</span>
        </div>
    </div>

    <div class="item">
        <div class="label">{% tr_label lang fr="Fait du bien, guérit :" nl="Doet goed, is nuttig :" en='Does good, heals :'%}</div>
        <div class="content">
            <span class="k-score">{{ tree.service.healthy|quality_score }}</span>
            <span class="k-label">{{ tree.service.healthy.value|tr:lang }}</span>
        </div>
    </div>
</div>

{% endif %}
