{% comment %} {% extends "wood_core/base.html" %}

{% load static %}
{% load wood %}


{% block title %}
    Arbres / bomen / trees
{% endblock %} -->

{% block body %}


<div class="hidden-list">
    {% for tree in trees %}
        <a href="url 'wood-atlas-tree-imported' lang tree.id">
            {{ tree.taxon.name.fr }}, {{ tree.taxon.name.nl }}, {{ tree.taxon.name.en }}, {{ tree.taxon.family }}
        </a>
    {% endfor %}
</div>

{% endblock %} {% endcomment %}

{% load static %} 
{% load wood %}
<!doctype html>
<html class="no-js" lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <title>Liste des arbres Wood Wide Web</title>    
    
    <style media="screen">
    
    </style>
    
</head>
<body>
    {% for tree in trees %}
        <a href="{% url 'wood-atlas-tree-imported' lang tree.id %}">
            {{ tree.taxon.name| tr:lang }},
            {{ tree.taxon.family }} <br> 
        </a>
    {% endfor %}
</body>
</html>