{% load wood %}

<!-- address -->

<div class="address">

    {% if tree.street_adress or tree.city %}
    <div class="item">

        <div class="label">{% tr_label lang fr="Adresse :" nl="Adres :" en='Adress' %}</div>

        <div class="content">
            <span>{{ tree.street_address|tr:lang }}</span>
            <span> </span>
            <span>{{ tree.city|tr:lang }}</span>
        </div>
    </div>
    {% endif %}

    <div class="item">
        <div class="label">{% tr_label lang fr="Coordonnées GPS :" nl="Gps-coörd. :" en="GPS coordinates : " %}</div>

        <div class="content">
            <span>{{ tree.position.coords.1 |floatformat:4 }}</span>
            <span>, {{ tree.position.coords.0 |floatformat:4 }}</span>
        </div>
    </div>

    {% if tree.patrimoine %}
    <div class="item">

        <div class="label">
            {% tr_label lang fr="Inventaire scientifique :" nl="Wetenschappelijke inventarisatie :" en='Scientific inventory' %}
        </div>

        <div class="content">
            <span><a
                    href="http://{% tr_label lang fr="arbres-inventaire" nl="bomen-inventaris" en="arbres-inventaire" %}.irisnet.be/tree.php?id={{tree.patrimoine}}/" target="_blank">{{tree.patrimoine}}</a></span>
        </div>
    </div>
    {% endif %}

    {% if tree.category == 'rmqe' %}
    <div class="item">

        <div class="label">{% tr_label lang fr="Partenaire :" nl="Partner :" en="Partner :" %}</div>

        <div class="content">
            <span>{% tr_label lang fr="Cet arbre a été ajouté à l’atlas de Wood Wide Web par" nl="Deze boom is toegevoegd aan de Wood Wide Web atlas door" en="This tree has been added to the WoodWideWeb atlas by "%}</span>
            <span> </span> {% for r in tree.remarqueur_set.all %} {% if r.url|tr:lang is not '' %} <span> <a
                    href="{{ r.url|tr:lang }}" target="_blank">{{ r.label|tr:lang }}</a> </span> {% else %}
            <span>{{ r.label|tr:lang }}</span> {% endif %} {% endfor %} </div>
    </div>
    {% endif %}

    {% if tree.contributor or tree.contributions.first %}
    <div class="item">

        <div class="label">{% tr_label lang fr="Contributeurs :" nl="Inzenders :" en="Contributors :" %}</div>

        <div class="content">
            {% for contributor in contributors %}
            {% if forloop.last %}
            <span>{{ contributor.get_username }}</span>
            {% else %}
            <span>{{ contributor.get_username }},</span>
            {% endif %}
            {% endfor %}

        </div>
    </div>
    {% endif %}

    

    {% comment " Not implemented" %} <div class="item">

        <div class="label">Coordonnées Lambert :</div>

        <div class="content">
            <span>{{ LAMBERT_1 }}</span>
            <span>, {{ LAMBERT_2 }}</span>
        </div>
    </div> {% endcomment %}
</div>