{% load static %} {% load wood %}
<!doctype html>
<html class="no-js" lang="fr">

<head>
    {% include "wood_core/head-front.html" %}

    <style>
    {% include "wood_core/about-style.html" %}
    </style>
</head>

<body id="about">

    {% include "wood_core/header-about.html" %}

    <div class="main">

        <!-- bloc 1 : dynamique etc -->
        {% include "wood_core/about-block1.html" %}
        
        <!-- bloc 2 : how to img -->
        {% include "wood_core/about-block2.html" %}

        <!-- bloc 3 : how to txt-->
        {% include "wood_core/about-block3.html" %}

        <!-- bloc 4 : grow with us img -->
        {% include "wood_core/about-block4.html" %}

        <!-- bloc 5 : grow with us txt-->
        {% include "wood_core/about-block5.html" %}

        <!-- bloc 6 : actors img -->
        {% include "wood_core/about-block6.html" %}

        <!-- bloc 7 : actors -->
        {% include "wood_core/about-block7.html" %}

        <!-- bloc footer  -->
        {% include "wood_core/footer-front.html" %}

    </div>
</body>

</html>