{% load wood %} {% load static %}
<!DOCTYPE html>
<HTML>

<HEAD>
    <META charset="utf-8">
    </META>
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    </META>
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css">
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <script src="{% static 'wood_core/js/proj4.js' %}"></script>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/build/ol.js"></script>
    <STYLE>
        body {
            background-size: cover;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
        }

        .form-info.collection {
            max-width: 500px;
            margin: auto;
            background: rgba(255, 255, 255, 0.95);
            padding: 20px;
            height: 100vh;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .submit-block {
            text-align: center;
            padding-bottom: 50px;
            padding-top: 20px;
        }

        textarea {
            width: 100%;
            min-height: 120px;
        }


        img {
            width: 100%;
        }

        .form-error {
            background: rgba(255, 255, 255, 0.80);
            color: red;
        }
        .accuracy {
            color: #70B62C;
            margin-top: 0.5rem;
            padding-right:2rem;
            font-size:0.9rem;

        }
    </STYLE>
</head>

<body class="contrib">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}"
                    alt=""></a>
        </div>


        <div class="header-atlas-lang">
            {% if form.has_instance %}
            {% if lang == 'fr' %}
            <a href="{% url 'wood-edit-tree' 'nl' form.instance.id  %}">Nederlands</a> |
            <a href="{% url 'wood-edit-tree' 'en' form.instance.id  %}">English</a>
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-edit-tree' 'fr' form.instance.id  %}">Français</a> |
            <a href="{% url 'wood-edit-tree' 'en' form.instance.id  %}">English</a>
            {% else %}
            <a href="{% url 'wood-edit-tree' 'nl' form.instance.id  %}">Nederlands</a> |
            <a href="{% url 'wood-edit-tree' 'fr' form.instance.id  %}">Français</a>
            {% endif %}
            {% else %}
            {% if lang == 'fr' %}
            <a href="{% url 'wood-add-tree' 'nl' %}">Nederlands</a> |
            <a href="{% url 'wood-add-tree' 'en' %}">English</a>
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-add-tree' 'fr' %}">Français</a> |
            <a href="{% url 'wood-add-tree' 'en' %}">English</a>
            {% else %}
            <a href="{% url 'wood-add-tree' 'nl' %}">Nederlands</a> |
            <a href="{% url 'wood-add-tree' 'fr' %}">Français</a>
            {% endif %}
            {% endif %}
        </div>

        <div class="header-atlas-about">
            <a
                href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
        </div>

        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Map" en='Map' %}</a>
        </div>

        <div class="header-atlas-about">
            <a
                href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a>
        </div>


        <div class='header-atlas-logout'>
            <a href="{% url 'logout' lang%}"> Logout </a>
        </div>
    </div>

    <div class="content">
        <form action enctype="multipart/form-data" method="POST"> {% csrf_token %} 
            {% comment %} <div class = "form-error">
                {{ form.non_field_errors }}
                {{form.errors}}
            </div> {% endcomment %}
            {% comment %} {{form.contributor}} {% endcomment %}
            <input type="hidden" name="contributor" id="id_contributor" value="{{user.id}}">
            <input type="hidden" name="lang" value="{{ lang }}" />

            <div class="form-wrapper">

                <div class="half-wrapper left-side">

                    <div class="form-infos">

                        <h1> {% tr_label lang fr='Ajoutez votre arbre à WoodWideWeb' nl='Voeg jouw boom toe aan WoodWideWeb' en='Add your tree to WoodWideWeb' %}
                        </h1>

                        <div class="helptext">

                            <p> {% tr_label lang fr='Wood Wide Web est une forêt à la fois réelle et virtuelle qui pousse à Bruxelles. Avec ce formulaire nous vous invitons à choisir votre/vos arbre/s préféré/s à Bruxelles.' nl='Wood Wide Web is een echt en virtueel bos dat groeit in Brussel. Met dit formulier nodigen wij u uit om uw favoriete boom of bomen in Brussel te kiezen.' en='Wood Wide Web is a forest, both real and virtual, that’s growing in Brussels. Through this form, we invite you to share your favourite tree(s) in Brussels.' %}
                            </p>
                            <!-- Ajouter texte qui explique que l'utilisateur pourra ajouter du texte et des images à son arbre une fois qu'il sera validé-->
                        </div>

                        {% comment %}<h2>{% tr_label lang fr='Emplacement' nl='Locatie' en='Location' %}</h2>
                        {% endcomment %}
                        <div class = "form-error">{{ form.position.errors }}</div>
                        <h2> {% tr_label lang fr='Cliquez sur la carte pour localiser votre arbre' nl='Klik op de kaart om jouw boom te vinden' en='Click on the map to select the location of your tree' %}*
                        </h2>

                    </div>

                    <div id="map"></div>
                    <input id="position" name="position" type="hidden" value="{{form.position.value}}" />

                    <div>
                        <button type="button" id="locate"> {% tr_label lang fr='Me localiser' nl='Mij localiseren' en='Locate me' %} </button>
                        <span class="accuracy">{% tr_label lang fr='Précision: ' nl='Nauwkeurigheid: ' en='Accuracy: ' %}
                            <span id='accuracy'></span>m
                        </span>
                    </div>
                    <div class="position-field">
                        
                        
                        <div class="position-input-wrapper">
                            <div class="input-label">{% tr_label lang fr='latitude' nl='breedte' en='latitude' %}</div>
                            <input class="position-input  position-y" type="text" value="0" />
                        </div>

                        
                        <div class="position-input-wrapper">

                            <div class="input-label">{% tr_label lang fr='longitude' nl='lengte' en='longitude' %}</div>
                            <input class="position-input position-x" type="text" value="0" />
                        </div>

                    </div>
                    


                    <div class="fieldWrapper">
                        <h2>{% tr_label lang fr='Essence' nl='Boomsoorten' en='Specie' %}</h2>
                        <div class = "form-error">{{ form.taxon.errors }}</div> {% comment %} <label for="{{ form.taxon.id_for_label }}">
                            {% tr_label lang fr='Essence' nl='Boomsoorten' en='Specie' %} </label> {% endcomment %}

                        <div class="specie-selector">
                            {{ form.taxon }}
                        </div>

                        <div class="helptext">
                            {% tr_label lang fr='Si vous ne savez pas, vous pouvez laisser vide ou deviner avec <a href="http://cle.ith-gembloux.be/cle-de-determination/arbres-en-feuilles2" target="_blank">la clé de détermination</a>' nl='Als je het niet weet, kun je raden met de <a href=http://www.bomen-determineren.com/determineer-blad-boom.html target="_blank"> determinatiesleutel</a> of het vakje leeg laten.' en='If you do not know the species of tree, you can leave this empty or figure it out using the <a href="http://cle.ith-gembloux.be/cle-de-determination/arbres-en-feuilles2" target="_blank">tree identification tool. </a>' %}
                        </div>
                    </div>

                </div>

                <div class="half-wrapper right-side">

                    <div class="fieldWrapper">
                        <h2>{% tr_label lang fr='Surnom' nl='Bijnaam' en='Tree alternative name' %}</h2>
                        {% if form.has_instance and  form.instance.name %}
                        <input type="hidden" id="name_record_id" value="{{form.instance.name.id}}" />
                        <div class=helptext> Français:</div>
                        <input id="name_fr" type="text" name="fr" value="{{form.instance.name.fr}}" />
                        <div class=helptext> Nederlands:</div>
                        <input id="name_nl" type="text" name="nl" value="{{form.instance.name.nl}}" />
                        <div class=helptext> English:</div>
                        <input id="name_en" type="text" name="en" value="{{form.instance.name.en}}" />
                        {% else %}
                        <div class=helptext> Français:</div>
                        <input id="name_fr" type="text" name="fr" />
                        <div class=helptext> Nederlands:</div>
                        <input id="name_nl" type="text" name="nl" />
                        <div class=helptext> English:</div>
                        <input id="name_en" type="text" name="en" />
                        {% endif %}


                        <div class="helptext">
                            {% tr_label lang fr='Si vous voulez donner un surnom à votre arbre indiquez-le ci-dessus dans une langue ou plus' nl='Als je een bijnaam wil geven aan je boom, kan je die hierboven invullen in één of meerdere talen.' en='If you want to provide an alternative name for your tree, enter it above in one or more languages.' %}
                        </div>
                    </div>

                    <!-- 
                    <div class="fieldWrapper">

                        <h2>{% tr_label lang fr='Description' nl='Beschrijving' en='Description'%}</h2>
                        {{ form.description.errors }} {% comment %} <label class="pitch" for="{{ form.description.id_for_label }}"> {% tr_label lang fr='Description' nl='Beschrijving' en='Description' %}</label> {% endcomment %} {{ form.description }}

                        <div class="helptext">{% tr_label lang fr='Quelques mots que vous auriez envie de dire à son sujet? Par exemple sa description, des anecdotes, son histoire, ses secrets, sa place/son rôle dans votre vie, votre cœur ou dans son quartier, etc. Pour donner envie à d’autres personnes d’aller le découvrir.' nl='Woorden die je over hem zou willen zeggen? Bijvoorbeeld de beschrijving, anekdotes, geschiedenis, geheimen, plaats / rol in je leven, hart of buurt, enz. Om ervoor te zorgen dat anderen het willen weten.' en='Would you like to say a few words about your tree? For example, its description, anecdotes, its history, its secrets, its impact or role in your life, your heart or in its neighbourhood, etc. This will inspire other people to go and discover it.' %}</div>
                    </div> 
                    -->
                    <h2>{% tr_label lang fr='Description' nl='Beschrijving' en='Description'%}*</h2>

                    <div class="helptext">
                        {% tr_label lang fr='Nous ne pouvons utiliser que des textes dont vous êtes l’auteur, libres de droits, et que vous acceptez de partager gratuitement sur Wood Wide Web. Merci' nl='We kunnen enkel teksten gebruiken waarvan je de auteur bent, die rechtenvrij zijn, en die je gratis wil delen op Wood Wide Web. Bedankt!' en='We are only able to use photos which: (i) were taken by you, (ii) are copyright-free, (iii) and which you allow Wood Wide Web to use free of charge. Thank you' %}
                    </div>

                    {% if form.has_instance and form.instance.description %}
                        <input type="hidden" id="description_record_id" value="{{form.instance.description.id}}" />
                        <div class=helptext> Français:</div>
                        <textarea id="description_fr" type="text" name="fr">{{form.instance.description.fr}}</textarea>
                        <div class=helptext> Nederlands:</div>
                        <textarea id="description_nl" type="text" name="nl">{{form.instance.description.nl}}</textarea>
                        <div class=helptext> English:</div>
                        <textarea id="description_en" type="text" name="en">{{form.instance.description.en}}</textarea>
                    {% elif lang == 'fr' %}
                        <textarea id="description_fr" type="text" name="fr"></textarea>
                    {% elif lang == 'nl' %}
                        <textarea id="description_nl" type="text" name="nl"></textarea>
                    {% elif lang == 'en' %}
                        <textarea id="description_en" type="text" name="en"></textarea>
                    {% endif %}

                    <div class="helptext">
                        {% tr_label lang fr='Quelques mots que vous auriez envie de dire à son sujet ?  Par exemple sa description, des anecdotes, son histoire, ses secrets, sa place/son rôle dans votre vie, votre cœur ou dans son quartier, etc. Pour donner envie à d’autres personnes d’aller le découvrir.' nl='Wat zou je over jouw boom willen vertellen? Je kan hem beschrijven, een anekdote vertellen, zijn geschiedenis, zijn geheimen, de rol die hij vervult in je leven of jouw wijk… Jouw woorden die anderen inspireren om de boom te gaan ontdekken.' en='What would you like to say about this tree?  For example, you can write about its description, anecdotes about it, its history, its secrets, as well as its role in your life, heart or neighbourhood in order to pique people’s interest and make them want to find out more. ' %}
                    </div>
                    <div class="helptext">
                        {% tr_label lang fr='Quelques mots clefs pour vous inspirer : beauté, émerveillement, sensations de bien-être, douceur, bienveillance, discrétion, connexion, harmonie… ' nl='Enkele sleutelwoorden ter inspiratie: verwondering, verbinding, schoonheid, welzijn, zachtheid, vriendelijkheid, discretie, harmonie …:) Veel plezier!' en='A few key words to inspire you: beauty, wonder, feelings of wellbeing, softness, benevolence, discreetness, connection, harmony... ' %}
                    </div>
                    <div class="helptext">
                        {% tr_label lang fr="Conseils pour éditer votre texte : <br>• Pour passer à la ligne, laissez deux espaces après le point <br>• Pour sauter une ligne, faites 2 fois enter <br>• Pour ajouter un lien écrivez le comme ceci:  [un titre ou un mot clef](lien) <br> Exemple: [L’arbre à parfum]( https://www.woodwideweb.be/fr/atlas/10.html)" nl='Enkele tips: <br>-om een zin op een nieuwe lijn te beginnen, typ 2 spaties na het punt <br>-om een lijn tussen te laten, typ 2 x enter <br>-om een link in te voegen, schrijf een [titel of een kernwoord](link)	<br>Voorbeeld: [De geurboom](https://www.woodwideweb.be/nl/atlas/10.html)' en='Tips for editing your text: <br>• To start a new line, leave two spaces after a full stop <br>• To skip a line, press enter twice <br>• To insert a link, write it like this: [your title word or keyword](link) <br>Example: [The Perfume Tree](https://www.woodwideweb.be/fr/atlas/10.html)' %}
                    </div>


                    <div class="fieldWrapper main-image">
                        <div class = "form-error">{{ form.photomaton.errors }}</div>
                        <h2>{% tr_label lang fr='Photo' nl='Foto' en='Photo' %}*</h2>
                        <div class="helptext">
                            {% tr_label lang fr='Nous ne pouvons utiliser que des photos dont vous êtes l’auteur, libres de droits, et que vous acceptez de partager gratuitement sur Wood Wide Web. Merci' nl='We kunnen enkel foto’s gebruiken waarvan je de auteur bent, die rechtenvrij zijn, en die je gratis wil delen op Wood Wide Web. Bedankt!' en='We are only able to use photos which: (i) were taken by you, (ii) are copyright-free, (iii) and which you allow Wood Wide Web to use free of charge. Thank you' %}
                        </div>
                        {% if form.photomaton.value and form.instance.id %}
                            <img src="{% url 'wood-media' 'tree' form.instance.id 600 %}">
                            <input type="file" name="photomaton" id="id_image" accept="image/*">
                            <a href="{% url 'wood-img-contrib-new' lang form.instance.id %}" target="_blank">{% tr_label lang fr='Ajouter d\'autres images' nl='Voeg andere beelden toe' en='Add other images' %} </a>
                        {% else %}
                        <input type="file" name="photomaton" id="id_image" accept="image/*">
                        {% endif %}

                        {% comment %} <div class="helptext">
                            {% tr_label lang fr='Astuce: photographiez l’arbre entier en format portrait/vertical pour pouvoir le reconnaître faciilement. ' nl='Tip: maak een verticale foto van de boom in zijn geheel om hem makkelijk te kunnen herkennen.' en='Tip: make sure your photos of a whole tree are in portrait orientation, so that it’s easily recognisable.' %}
                        </div> {% endcomment %}
                    </div>

                    <!--
                    <div class="fieldWrapper">
                        <h2>{% tr_label lang fr='Hauteur' nl='Hoogte' en='Height' %}</h2>
                        {{ form.height.errors }}  {{ form.height }}
                    </div>
                    -->

                    <div class="submitWrapper">
                        <div class="helptext green">* required </div>
                        <span>
                            <button id="submit_form" type="submit"
                                class="save btn btn-default">{% tr_label lang fr='Enregistrer' nl='Registreer' en='Save'%}</button>
                        </span>
                        <span class="helptext gdpr">
                            <a
                                href="{% static 'wood_core/files/GDPR_FR_NL.pdf' %}">{% tr_label lang fr='Respect de votre vie privée' nl='Respect voor uw privacy' en='Respect for your privacy' %}</a>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="credits">

        <div class="copyright"> © 32shoot asbl </div>

        <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be"
                title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>
    </div>
    <script>
        const ol = window.ol;
        // from https://epsg.io/31370.proj4
        proj4.defs('EPSG:31370',
            '+proj=lcc +lat_1=51.16666723333333 +lat_2=49.8333339 +lat_0=90 +lon_0=4.367486666666666 +x_0=150000.013 +y_0=5400088.438 +ellps=intl +towgs84=-106.869,52.2978,-103.724,0.3366,-0.457,1.8422,-1.2747 +units=m +no_defs');
        ol.proj.proj4.register(proj4);

        const EPSG31370 = new ol.proj.Projection({
            code: 'EPSG:31370',
            extent: [14697.30, 22635.80, 291071.84, 246456.18],
        });
        



        const bufferFeature =
            (f) =>
                (radius) => {
                    const pt = f.getGeometry();
                    return (new ol.geom.Circle(pt.getCoordinates(), radius));
                };

        const strokeStyle =
            (width, color) => new ol.style.Stroke({
                width,
                color,
            })

        const makeFeature =
            (coordinates) => new ol.Feature({
                geometry: new ol.geom.Point(coordinates),
                name: 'Selected',
            })

        const vectorSource = new ol.source.Vector({
            features: []
        });

        const selectLayer = new ol.layer.Vector({
            source: vectorSource,
            style: (f) => [
                new ol.style.Style({
                    stroke: strokeStyle(6, 'white'),
                    geometry: bufferFeature(f)(12),
                }),
            ],
        })

        const raster = new ol.layer.Tile({
            source: new ol.source.TileWMS({
                projection: EPSG31370, //'EPSG:31370',
                params: {
                    LAYERS: 'Ortho2017',
                    VERSION: '1.1.1',
                    TILED: true,
                },
                url: 'https://geoservices-urbis.irisnet.be/geoserver/urbisgrid/ows',
            }),
        });

        
        {% if form.position.value and form.instance.position.coords %}
            let hasPosition = true;
            const center = {{ form.instance.position.coords| wgs_to_lambert }};
            const zoom = 10;
            vectorSource.addFeature(makeFeature(center))
            
        {% else %}
            let hasPosition = false;
            const center = [149546, 169775];
            const zoom = 6;
        {% endif %}

        const posInput = document.getElementById('position')

        const posInputManual = proj4('EPSG:31370', 'EPSG:4326', center)
        //const posInputManual = [4.3623, 50.8383]
        const xManual = () => posInputManual[0]
        const yManual = () => posInputManual[1]

        // takes wgs84
        const updateInput = (x, y) => {
            console.log(`updateInput(${x}, ${y})`)

            hasPosition = true
            posInput.value = `SRID=4326;POINT(${x} ${y})`
            posInputManual[0] = x
            posInputManual[1] = y

            document.querySelectorAll('.position-x').forEach(e => e.value = x)
            document.querySelectorAll('.position-y').forEach(e => e.value = y)
        }

        // takes lambert72
        const updatePos = (coords) => {
            console.log(`updatePos(${coords})`)
            hasPosition = true
            vectorSource.clear()
            vectorSource.addFeature(makeFeature(coords))
        }

        {% if form.position.value and form.instance.position.coords %}
            updateInput(xManual(), yManual())
        {% endif %}

        const m = new ol.Map({
            layers: [raster, selectLayer],
            target: 'map',
            view: new ol.View({
                projection: EPSG31370, //'EPSG:31370',
                center,
                zoom,
            })
        });
        
        m.on('singleclick', (me) => {
            const coords = me.coordinate;
            const cc = proj4('EPSG:31370', 'EPSG:4326', coords)
            updateInput(cc[0], cc[1])
            updatePos(coords)
        })


        document.addEventListener('change', (e) => {
            const target = e.target
            if (target.classList.contains('position-input')) {
                let cc;
                if (target.classList.contains('position-x')) {
                    cc = [parseFloat(target.value), yManual()]
                }
                else if (target.classList.contains('position-y')) {
                    cc = [xManual(), parseFloat(target.value)]
                }
                coords = proj4('EPSG:4326', 'EPSG:31370', cc)
                updateInput(cc[0], cc[1])
                updatePos(coords)
            }
        });

        //GEOLOCATION
        //Coords Atelier Carto :4.3694055999999994, 50.836881999999996 ou en Lambert: 150046.03333750437,169607.40146010648
        
        var geolocation = new ol.Geolocation({
            projection: EPSG31370,
            // projection: ol.proj.get('EPSG:4326'),
            trackingOptions: {
                enableHighAccuracy: true
            },
            });


        document.getElementById('accuracy').innerHTML = "0";
        const geolocate = () => {

            geolocation.setTracking(true);
            geolocation.on('change:position', (e) => {
                console.log(e)
                accuracy = geolocation.getAccuracy();
                let position = geolocation.getPosition();
                console.log(position);
                geolocation.setTracking(false);
                document.getElementById('accuracy').innerHTML = accuracy;
                m.getView().setCenter(position);
                m.getView().setZoom(13);
            });

            geolocation.on('error', function(erreur) {
				alert('Geolocation failed : ' +erreur.message);       
			});
        }
        
        const geoloc = document.getElementById('locate');
        geoloc.addEventListener('click', () => geolocate());

        // name and description fields

        const nameInputs = [
            document.getElementById("name_fr"),
            document.getElementById("name_nl"),
            document.getElementById("name_en"),
        ]
        const descriptionInputs = [
            document.getElementById("description_fr"),
            document.getElementById("description_nl"),
            document.getElementById("description_en"),
        ]

        const submitButton = document.getElementById("submit_form")
        const baseForm = document.querySelector("form")


        const getFormData = (text, inputs) => {
            const csrfInput = document.querySelector('[name=csrfmiddlewaretoken]').cloneNode()
            const form = document.createElement('form')
            const inputId = document.createElement('input')

            form.appendChild(csrfInput)
            inputs.forEach((i) => { if (i) form.appendChild(i) })

            inputId.setAttribute('name', text)
            baseForm.appendChild(inputId)

            const formRecordData = new FormData(form)

            return [formRecordData, inputId]
        }

        const postRecord = (formRecordData, input) => (url) => {
            return fetch(url, {
                credentials: 'same-origin',
                method: 'post',
                body: formRecordData,
            })
                .then(response => response.json())
                .then(data => input.value = data.id)
        }


        const submitter = (e) => {
            e.preventDefault()
            {% comment %} if (!hasPosition) {
                alert('Pas de position')
                return
            } {% endcomment %}

            const [nameFormData, inputNameId] = getFormData('name', nameInputs)
            const [descriptionFormData, inputDescId] = getFormData('description', descriptionInputs)

            const promises = []
            const nameFn = postRecord(nameFormData, inputNameId)
            const descFn = postRecord(descriptionFormData, inputDescId)

            {% if form.has_instance and form.instance.name %}
            promises.push(nameFn('/lingua/update/tree_name/{{form.instance.name.id}}'))
            {% else %}
            promises.push(nameFn('/lingua/add/tree_name/'))
            {% endif %}

            {% if form.has_instance and form.instance.description %}
            promises.push(descFn('/lingua/update/tree_description/{{form.instance.description.id}}'))
            {% else %}
            promises.push(descFn('/lingua/add/tree_description/'))
            {% endif %}

            Promise.all(promises)
                .then(() => baseForm.submit())
                .catch(err => console.error(err))

        }

        submitButton.addEventListener("click", submitter)
        baseForm.addEventListener('submit', submitter)

    </script>
</body>

</html>