{% load wood %} {% load static %}
<!DOCTYPE html>
<HTML>

<HEAD>
    <META charset="utf-8">
    </META>
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    </META>
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <STYLE> body {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}

.form-info.collection {
    max-width: 500px;
    margin: auto;
    background: rgba(255,255,255,0.95);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.submit-block {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

textarea {
    width: 100%;
    min-height: 120px;
}

canvas {
    width:600px;
}
.form-error {
    background: rgba(255, 255, 255, 0.80);
    color: red;
}



</STYLE>
</head>

<body class="contrib">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>


        <div class="header-atlas-lang"> 
        {% if form.instance.id %} 
            {% if lang == 'fr' %}
            <a href="{% url 'wood-img-contrib-edit' 'nl' tid form.instance.id %}">Nederlands</a> | 
            <a href="{% url 'wood-img-contrib-edit' 'en' tid form.instance.id %}">English</a> 
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-img-contrib-edit' 'fr' tid form.instance.id %}">Français</a> | 
            <a href="{% url 'wood-img-contrib-edit' 'en' tid form.instance.id %}">English</a> 
            {% else %}
            <a href="{% url 'wood-img-contrib-edit' 'nl' tid form.instance.id %}">Nederlands</a> | 
            <a href="{% url 'wood-img-contrib-edit' 'fr' tid form.instance.id %}">Français</a>
            {% endif %}
        {% else %}
            {% if lang == 'fr' %}
            <a href="{% url 'wood-img-contrib-new' 'nl' tid %}">Nederlands</a> | 
            <a href="{% url 'wood-img-contrib-new' 'en' tid %}">English</a> 
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-img-contrib-new' 'fr' tid %}">Français</a> | 
            <a href="{% url 'wood-img-contrib-new' 'en' tid %}">English</a> 
            {% else %}
            <a href="{% url 'wood-img-contrib-new' 'nl' tid %}">Nederlands</a> | 
            <a href="{% url 'wood-img-contrib-new' 'fr' tid %}">Français</a>
            {% endif %}
        {% endif %}
         </div>
        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
        </div>

        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Map" en='Map' %}</a>
        </div>

        {% if request.user.is_authenticated %}
            <div class="header-atlas-about">
                <a href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a> 
            </div>
        {% endif %}

        <div class=header-atlas-logout>
            <a href="{% url 'logout' lang%}"> Logout </a> 
        </div>
    </div>
    

    <div class="content">
        {{ form.non_field_errors }}
        {{ form.errors }}
        
        <form action enctype="multipart/form-data" method="POST"> 
            <div class = "form-error">
                {{ form.non_field_errors }}
                {{form.errors}}
            </div>
            <input type="hidden" name="lang" value="{{ lang }}" />
            {% csrf_token %}
            {% comment %} {{form.lang}} {% endcomment %}
            {{form.tree}}
            {% comment %} {{form.taxon}} {% endcomment %}
            {{form.contributor}}
            <div class="form-wrapper">

                <div class="half-wrapper left-side">


                    <h2>{% tr_label lang fr='Essence' nl='Boomsoorten' en='Specie' %}: </h2>
                        <div class="form-info">{{tree.taxon}}</div>
                        </br>
                    <h2>{% tr_label lang fr='Emplacement' nl='Locatie' en='Location' %}</h2> 
                        {% comment %} <img src="{{wms_url}}"/> {% endcomment %}

                    <canvas id="canvas" width="600" height="600" />

                </div>

                <div class="half-wrapper right-side">    

                    <div class="fieldWrapper main-image">

                        <h2>{% tr_label lang fr='Photos' nl='Fotos' en='Photos' %}</h2> 

                        <div class = "form-error">{{ form.picture.errors }}</div>
                        
                        {% if tree.photomaton or tree.contributor %}
                            <div class="helptext">
                                {% tr_label lang fr='Ajoutez votre photo ' nl='Voeg jouw ' en='Add your ' %}
                                <span class=bold>{% tr_label lang fr='horizontale. ' nl='horizontale ' en='landscape ' %}</span>
                                {% tr_label lang fr='Nous ne pouvons utiliser que des photos dont vous êtes l’auteur, libres de droits, et que vous acceptez de partager gratuitement sur Wood Wide Web. Merci' nl='foto toe. We kunnen enkel foto’s gebruiken waarvan je de auteur bent, die rechtenvrij zijn, en die je gratis wil delen op Wood Wide Web. Bedankt!' en='photo. We are only able to use photos which: (i) were taken by you, (ii) are copyright-free, (iii) and which you allow Wood Wide Web to use free of charge. Thank you' %}
                            </div>
                        {% else %}
                            <div class="helptext">
                                {% tr_label lang fr='Ajoutez votre photo verticale ou horizontale. Nous ne pouvons utiliser que des photos dont vous êtes l’auteur, libres de droits, et que vous acceptez de partager gratuitement sur Wood Wide Web. Merci' nl='Voeg jouw verticale of horizontale foto toe. We kunnen enkel foto’s gebruiken waarvan je de auteur bent, die rechtenvrij zijn, en die je gratis wil delen op Wood Wide Web. Bedankt!' en='Add your portrait or landscape photo. We are only able to use photos which: (i) were taken by you, (ii) are copyright-free, (iii) and which you allow Wood Wide Web to use free of charge. Thank you' %}
                            </div>
                        {% endif %}

                        {% if form.picture.value and form.instance.id %} 
                            <img src="{% url 'wood-media' 'img-contrib' form.instance.id 600 %}">
                            <input type="file" name="picture" id="id_image" accept="image/*"> 
                        {% else %} 
                            <input type="file" name="picture" id="id_image" accept="image/*"> 
                        {% endif %}
                        
                        
                        {% comment %} <div class="helptext">
                            {% tr_label lang fr='Astuce: photographiez l’arbre entier en format portrait/vertical pour pouvoir le reconnaître faciilement. ' nl='Tip: maak een verticale foto van de boom in zijn geheel om hem makkelijk te kunnen herkennen.' en='Tip: make sure your photos of a whole tree are in portrait orientation, so that it’s easily recognisable.' %}
                        </div> {% endcomment %}

                        <h2>  </h2> 

                        <div>
                            {{formset.management_form}}   

                            {% if not tree.photomaton %}
                                <div class="helptext">
                                    {% tr_label lang fr='Ajoutez d\'autres photos ' nl='Voeg andere ' en='Add other ' %}
                                    <span class=bold>{% tr_label lang fr='horizontales. ' nl='horizontale ' en='landscape ' %}</span>
                                    {% tr_label lang fr='' nl='foto\'s toe.' en='photos. ' %}
                                </div>
                            {% endif %}

                            {% for form in formset %}
                                {% if form.instance and form.instance.id %}
                                    {{ form.id }}
                                    <img src="{% url 'wood-media' 'img-contrib' form.instance.id 600 %}" />
                                    <div class="delete-wrapper">
                                        <label for="{{ form.DELETE.html_name }}">{% tr_label lang fr='Supprimer' nl='Verwijderen' en='Delete' %}</label>
                                        <input type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.auto_id }}">
                                    </div>
                                {% else %}
                                {% with index=forloop.counter0 %}
                            
                            <div class="pic-box">
                                <input 
                                    type="file" 
                                    name="form-{{index}}-picture" 
                                    accept="image/*" 
                                    id="id_form-{{index}}-picture">
                                <input 
                                    type="hidden" 
                                    name="form-{{index}}-lang" 
                                    id="id_form-{{index}}-lang"
                                    value="{{lang}}">
                                </p>
                                <input 
                                    type="hidden" 
                                    name="form-{{index}}-contributor" 
                                    id="id_form-{{index}}-contributor"
                                    value="{{user.id}}">
                                <input 
                                    type="hidden" 
                                    name="form-{{index}}-tree" 
                                    id="id_form-{{index}}-tree"
                                    value="{{tree.id}}">
                            </div>
                        
                                {% endwith %} 
                                {% endif %}
                            {% endfor %} 
                        </div>
                    </div>
                    <div class="submitWrapper">
                        <span>
                            <button type="submit" class="save btn btn-default">{% tr_label lang fr='Enregistrer' nl='Registreer' en='Save'%}</button>
                            {% if ic.id is not None %}
                                <button> <a href="{% url 'wood-img-del-valid' lang ic.id %}"> {% tr_label lang fr="Supprimer" nl="Verwijderen" en="Delete" %} </a> </button>
                            {% endif %}
                        </span>
                        <span class="helptext gdpr">
                            <a href="{% static 'wood_core/files/GDPR_FR_NL.pdf' %}">{% tr_label lang fr='Respect de votre vie privée' nl='Respect voor uw privacy' en='Respect for your privacy' %}</a>
                        </span>
                    </div>

            </div>
        </form>
    </div>

    <div class="credits">

        <div class="copyright"> © 32shoot asbl </div>

        <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>
    </div>


<script>

(() => {
    const cnvs = document.getElementById('canvas');
    const ctx = cnvs.getContext('2d');
    const img = new Image();
    img.setAttribute('crossOrigin', "Anonymous");
    img.addEventListener('load', () => {
        const bb = cnvs.getBoundingClientRect()
        const width = bb.width;
        ctx.drawImage(img, 0, 0, width, width);
        ctx.save();
        ctx.beginPath();
        
        const min_x = {{bbox.0}};
        const min_y = {{bbox.1}};
        const max_x = {{bbox.2}};
        const max_y = {{bbox.3}};

        const h_scale = width/(max_x-min_x);
        const v_scale = width/(max_y-min_y);
        ctx.scale(h_scale,-v_scale);
        ctx.translate(-min_x,-max_y);

        const x = {{coords.0}};
        const y = {{coords.1}};

        ctx.moveTo(x+20,y);
        ctx.strokeStyle = 'rgb(112,182,44)';
        ctx.lineWidth = 1;
        ctx.arc(x,y, 20, 0, Math.PI*2);
        ctx.stroke();
        ctx.restore();
    });
    img.src = "{{wms_url|safe}}";

})()


</script>

</body>

</html>