{% load wood %} {% load static %}
<!DOCTYPE html>
<html class="no-js" lang="{{ lang }}">

<head>
     <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <title>{% block title %}{% endblock %} - Wood Wide Web</title>    
    {% block opengraph %}{% endblock %}
    <style media="screen">
    {% block inline_style %}{% endblock %}
    </style>
    {% block js %}{% endblock %}
</head>

<body class='atlas'>

    <div class="main">
        <div class="main-header">
            
        </div>
        <div class="main-content">
            <div class="block-content">
                <h2> {% tr_label lang fr="Confirmation de la suppression" nl="Bevestiging van verwijderen" en="Deletion confirmation" %} </h2>
                <h3> {% tr_label lang fr="Voulez-vous vraiment supprimer le texte suivant?" nl="Wilt u zeker de volgende tekst verwijderen?" en="Do you really want to delete this text?" %} </h3>
                <div>
                    "{{ contrib.text }}"
                     <div class="media-caption"> ({{contrib.contributor}} - {{contrib.format_created_date}}) </div>
                </div>

            </div>
        </div>
        {% comment %} <button> {% endcomment %}
            <form action="{% url 'wood-text-contrib-del' lang contrib.id %}" method="post" class="button">
                {% csrf_token %}
                <input type="submit" value="{% tr_label lang fr="Supprimer" nl="Verwijderen" en="Delete" %} "/>
            </form>
        {% comment %} </button> {% endcomment %}
        <button> <a href="{% url 'wood-contrib' lang %}"> {% tr_label lang fr="Annuler" nl="Annuleren" en="Cancel" %}</a> </button>
    </div>

</body>

</html>