{% load wood %} {% load static %}
<!DOCTYPE html>
<HTML>

<HEAD>
    <META charset="utf-8">
    </META>
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    </META>
    <link rel="shortcut icon" type="image/png" href="{% static 'wood_core/svg/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'wood_core/style.css' %}" />
    <STYLE> body {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}</html>

.form-info.collection {
    max-width: 500px;
    margin: auto;
    background: rgba(255,255,255,0.95);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.submit-block {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

textarea {
    width: 100%;
    min-height: 120px;
}

canvas {
    width:600px;
}
.form-error {
    background: rgba(255, 255, 255, 0.80);
    color: red;
}

</STYLE>
</head>

<body class="contrib">

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>


        <div class="header-atlas-lang"> 
        {% if form.instance.id %} 
            {% if lang == 'fr' %}
            <a href="{% url 'wood-text-contrib-edit' 'nl' tid form.instance.id %}">Nederlands</a> | 
            <a href="{% url 'wood-text-contrib-edit' 'en' tid form.instance.id %}">English</a> 
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-text-contrib-edit' 'fr' tid form.instance.id %}">Français</a> | 
            <a href="{% url 'wood-text-contrib-edit' 'en' tid form.instance.id %}">English</a> 
            {% else %}
            <a href="{% url 'wood-text-contrib-edit' 'nl' tid form.instance.id %}">Nederlands</a> | 
            <a href="{% url 'wood-text-contrib-edit' 'fr' tid form.instance.id %}">Français</a>
            {% endif %}
        {% else %}
            {% if lang == 'fr' %}
            <a href="{% url 'wood-text-contrib-new' 'nl' tid %}">Nederlands</a> | 
            <a href="{% url 'wood-text-contrib-new' 'en' tid %}">English</a> 
            {% elif lang == 'nl' %}
            <a href="{% url 'wood-text-contrib-new' 'fr' tid %}">Français</a> | 
            <a href="{% url 'wood-text-contrib-new' 'en' tid %}">English</a> 
            {% else %}
            <a href="{% url 'wood-text-contrib-new' 'nl' tid %}">Nederlands</a> | 
            <a href="{% url 'wood-text-contrib-new' 'fr' tid %}">Français</a>
            {% endif %}
        {% endif %}
         </div>
        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">{% tr_label lang fr="À propos du projet" nl="Over het project" en='About the project' %}</a>
        </div>

        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' lang %}">{% tr_label lang fr="Carte des arbres" nl="Map" en='Map' %}</a>
        </div>

        {% if request.user.is_authenticated %}
            <div class="header-atlas-about">
                <a href="{% url 'wood-contrib' lang %}">{% tr_label lang fr="Mes contributions" nl="Mijn bijdragen" en='My contributions' %}</a> 
            </div>
        {% endif %}
        <div class=header-atlas-logout>
            <a href="{% url 'logout' lang%}"> Logout </a> 
        </div>
    </div>
    

    <div class="content">

        <form action enctype="multipart/form-data" method="POST"> 
            <div class = "form-error">
                {{ form.non_field_errors }}
                {{form.errors}}
            </div>
            <input type="hidden" name="lang" value="{{ lang }}" />
            {% csrf_token %}
            {% comment %} {{form.lang}} {% endcomment %}
            {% comment %} {{form.taxon}} {% endcomment %}
            {{form.tree}}
            {{form.contributor}}
            <div class="form-wrapper">

                <div class="half-wrapper left-side">


                    <h2>{% tr_label lang fr='Essence' nl='Boomsoorten' en='Specie' %}: </h2>
                        <div class="form-info">{{tree.taxon}}</div>
                        </br>
                    <h2>{% tr_label lang fr='Emplacement' nl='Locatie' en='Location' %}</h2> 
                    {% comment %} <div class="treeonmap"></div> {% endcomment %}
                    <canvas id="canvas" width="600" height="600" />
                    {% comment %} <div id="cercle"></div> {% endcomment %}

                </div>

                <div class="half-wrapper right-side">    
                    <div class="fieldWrapper">

                        <h2>{% tr_label lang fr='Description' nl='Beschrijving' en='Description'%}</h2>

                        <div class="helptext">
                        {% tr_label lang fr='Nous ne pouvons utiliser que des textes dont vous êtes l’auteur, libres de droits, et que vous acceptez de partager gratuitement sur Wood Wide Web. Merci' nl='We kunnen enkel teksten gebruiken waarvan je de auteur bent, die rechtenvrij zijn, en die je gratis wil delen op Wood Wide Web. Bedankt!' en='We are only able to use photos which: (i) were taken by you, (ii) are copyright-free, (iii) and which you allow Wood Wide Web to use free of charge. Thank you' %}
                        </div>
                        {{ form.text.errors }} {% comment %} <label class="pitch" for="{{ form.description.id_for_label }}"> {% tr_label lang fr='Description' nl='Beschrijving' en='Description' %}</label> {% endcomment %} 
                        {{ form.text }}

                        <div class="helptext">
                        {% tr_label lang fr='Quelques mots que vous auriez envie de dire à son sujet ?  Par exemple sa description, des anecdotes, son histoire, ses secrets, sa place/son rôle dans votre vie, votre cœur ou dans son quartier, etc. Pour donner envie à d’autres personnes d’aller le découvrir.' nl='Wat zou je over jouw boom willen vertellen? Je kan hem beschrijven, een anekdote vertellen, zijn geschiedenis, zijn geheimen, de rol die hij vervult in je leven of jouw wijk… Jouw woorden die anderen inspireren om de boom te gaan ontdekken.' en='What would you like to say about this tree?  For example, you can write about its description, anecdotes about it, its history, its secrets, as well as its role in your life, heart or neighbourhood in order to pique people’s interest and make them want to find out more. ' %}
                        </div>
                        <div class="helptext">
                        {% tr_label lang fr='Quelques mots clefs pour vous inspirer : beauté, émerveillement, sensations de bien-être, douceur, bienveillance, discrétion, connexion, harmonie… ' nl='Enkele sleutelwoorden ter inspiratie: verwondering, verbinding, schoonheid, welzijn, zachtheid, vriendelijkheid, discretie, harmonie …:) Veel plezier!' en='A few key words to inspire you: beauty, wonder, feelings of wellbeing, softness, benevolence, discreetness, connection, harmony... ' %}
                        </div>
                        <div class="helptext">
                        {% tr_label lang fr="Conseils pour éditer votre texte : <br>• Pour passer à la ligne, laissez deux espaces après le point <br>• Pour sauter une ligne, faites 2 fois enter <br>• Pour ajouter un lien écrivez le comme ceci:  [un titre ou un mot clef](lien) <br> Exemple: [L’arbre à parfum]( https://www.woodwideweb.be/fr/atlas/10.html)" nl='Enkele tips: <br>-om een zin op een nieuwe lijn te beginnen, typ 2 spaties na het punt <br>-om een lijn tussen te laten, typ 2 x enter <br>-om een link in te voegen, schrijf een [titel of een kernwoord](link)	<br>Voorbeeld: [De geurboom](https://www.woodwideweb.be/nl/atlas/10.html)' en='Tips for editing your text: <br>• To start a new line, leave two spaces after a full stop <br>• To skip a line, press enter twice <br>• To insert a link, write it like this: [your title word or keyword](link) <br>Example: [The Perfume Tree](https://www.woodwideweb.be/fr/atlas/10.html)' %}
                        </div>

                    {% comment %} <div class="fieldWrapper main-image">

                        <h2>{% tr_label lang fr='Photo' nl='Foto' en='Photo' %}</h2> {% if form.image.value and form.instance.id %} <img src="{% url 'wood-media' 'contrib' form.instance.id 600 %}">
                        <input type="file" name="image" id="id_image" accept="image/*"> {% else %} <input type="file" name="image" id="id_image" required="" accept="image/*"> {% endif %}

                        <div class="helptext">{% tr_label lang fr='Nous ne pouvons utiliser que des photos dont vous êtes l’auteur, libres de droits, et que vous acceptez de partager gratuitement sur Wood Wide Web. Merci' nl='We kunnen enkel foto’s gebruiken waarvan u de auteur bent, die rechtenvrij zijn, en die u gratis wil delen op Wood Wide Web. Bedankt' en='We can only use photos that you have taken yourself, that are copyright-free, and that you agree to share free of charge on Wood Wide Web. Thank you' %}</div>
                    </div> {% endcomment %}

                    <div class="submitWrapper">
                        <span>
                            <button type="submit" class="save btn btn-default">{% tr_label lang fr='Enregistrer' nl='Registreer' en='Save'%}</button>
                        </span>
                        {% if tc.id is not None%}
                            <span>
                                <button> <a href="{% url 'wood-text-del-valid' lang tc.id %}"> {% tr_label lang fr="Supprimer" nl="Verwijderen" en="Delete" %} </a> </button> 
                            </span>
                        {% endif %}                       
                        <span class="helptext gdpr">
                            <a href="{% static 'wood_core/files/GDPR_FR_NL.pdf' %}">{% tr_label lang fr='Respect de votre vie privée' nl='Respect voor uw privacy' en='Respect for your privacy' %}</a>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="credits">

        <div class="copyright"> © 32shoot asbl </div>

        <div class="ac-credits"> dev &amp; design : <a href="http://atelier-cartographique.be" title="atelier cartographique" target="_blank">atelier cartographique</a>
        </div>
    </div>
    
<script>

(() => {
    const cnvs = document.getElementById('canvas');
    const ctx = cnvs.getContext('2d');
    const img = new Image();
    img.setAttribute('crossOrigin', "Anonymous");
    img.addEventListener('load', () => {
        const bb = cnvs.getBoundingClientRect()
        const width = bb.width;
        ctx.drawImage(img, 0, 0, width, width);
        ctx.save();
        ctx.beginPath();
        
        const min_x = {{bbox.0}};
        const min_y = {{bbox.1}};
        const max_x = {{bbox.2}};
        const max_y = {{bbox.3}};

        const h_scale = width/(max_x-min_x);
        const v_scale = width/(max_y-min_y);
        ctx.scale(h_scale,-v_scale);
        ctx.translate(-min_x,-max_y);

        const x = {{coords.0}};
        const y = {{coords.1}};

        ctx.moveTo(x+20,y);
        ctx.strokeStyle = 'rgb(112,182,44)';
        ctx.lineWidth = 1;
        ctx.arc(x,y, 20, 0, Math.PI*2);
        ctx.stroke();
        ctx.restore();
    });
    img.src = "{{wms_url|safe}}";

})()

</script>

</body>

</html>