.footer {

    .sub-pitch.fb {
        display: flex;
        align-items: center;
        a {margin-right: @margin;  text-decoration:none; }
    }

    @media @md {justify-content: flex-start;}
    .imago-www {
        width: 100%;
        padding: @margin 0;
    }

    .prod {
        margin-bottom: @margin * 2;
        img {max-height: 160px;}
    }

    .collaboration, .participation {
        margin-bottom: @margin * 2;
    }

    .partners {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        // justify-content: space-evenly;

        div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
        }

        img {
            margin: @margin;
        }
        .sub-pitch {
            display: grid;
            padding-right: 2rem;
        }
    }

    .imago-wrapper {
        .sub-pitch {
            margin: @margin 0;
        }
        @media @md{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            .imago-www {flex: 1; max-width: 50vw;}
            .imago-text {flex:1;}
        }
        @media @landscape {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            .imago-text {flex:1;}
            .imago-www {
                flex: 2;
                img {width: 66%;}
            }
        }
    }

    #mc_embed_signup {
        max-width: 300px;

        input#mc-embedded-subscribe {
            max-width: 150px;
            margin-top: @margin;
            background-color: @green;
            border: 0px;
            color: #fff;
        }
    }

    .copyright{
        margin-top: 1em;
        margin-bottom: -1em
    }

    .ac-credits {
        // margin-top: 1em;
        text-align: right;
    }
    .hidden {
        display: none;
    }
}
