.home {
    background-color: @black;

    @media @landscape {
        background-position: 0;
        z-index: 4
    }

    .site-title {
        margin-bottom: auto;
        padding-top: @margin * 2;
        padding-bottom: @margin;
    }

    .lang-switch {
        margin-left: @margin;
        text-transform: uppercase;
        font-size: 75%;

        a {
            margin-right: @margin;
        }
    }
}