.media-pitch {
    height: auto;
    min-height: initial;
}

.media-label {
    height: auto;
    min-height: initial;
    .pitch {
        margin: 0;
        padding: 0;
    }
}

//***********************  AUDIO  ***********************//

.media-audio {
    audio {
        opacity: 0.5;
    }
}

//***********************  VR 360  ***********************//

// .media-vr {
//     height: 75vh; // if we put 100vh, we cannot get out of that div on mobile
//     min-height: initial;
//     .vr360 {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//     }
// }

//***********************  VIDEO  ***********************//

.media-video {
    width: 100%;
    height: 0;
    min-height: initial;
    padding-bottom: 56.25%;

    &.vertical {
        height: 100vh;
        padding: 0;
    }

    .video-v {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-text {
        .absolute(initial, initial, 2 * @margin, initial);
        z-index: 2;
    }

    .video-text {
        display: none;
        @media @landscape-md {
            display: block;
            margin-bottom: 7vh; //dirty trick because of black strips
        }
    }
}
