{% load static %} 
{% load wood %}
<!doctype html>
<html class="no-js" lang="nl">
{% comment %} <script src="{% static 'wood_core/js/splash.js' %}"></script> {% endcomment %}

<head>
    {% include "wood_core/head-front.html" %}

    <style>
    {% include "wood_core/index-style.html" %}
    </style>
</head>

<body>

    <!-- block 1 :  Home -->
    {% include "wood_core/index-block1.html" %}

    <!-- block 2 :  Map -->
    {% include "wood_core/index-block2.html" %}

    <!-- block portrait du mois :  Monthly-->
    {% include "wood_core/index-block-monthly.html" %}

    <!--block walk: Walk -->
    {% include "wood_core/index-block-walk.html" %}

    <!-- block activity :  Activites -->
    {% include "wood_core/index-block-activity.html" %}
    
    <!-- block 3 :  Media pitch -->
    {% include "wood_core/index-block3.html" %}

    <!-- block 4 :  Media video -->
    {% include "wood_core/index-block4.html" %}

    <!-- block 5 :  Media audio -->
    {% include "wood_core/index-block5.html" %}

    <!-- block 6 :  History -->
    {% include "wood_core/index-block6.html" %}

    <!-- block 7 :  Observation -->
    {% include "wood_core/index-block7.html" %}

    <!-- block 9 :  Portraits -->
    {% include "wood_core/index-block9.html" %}
    
    <!-- bloc footer  -->
    {% include "wood_core/footer-front.html" %}

    <div id="header-atlas">

        <div class="header-atlas-logo">
            <a href="{% url 'wood-index' lang %}"><img src="{% static 'wood_core/svg/wowiwe-imago-1-www.svg' %}" alt=""></a>
        </div>

        <div class="header-atlas-lang">
            <a href="../fr/">Français</a>
            <span> | </span>
            <a href="../en/">English</a>
        </div>

        <div class="header-atlas-about">
            <a href="{% url 'wood-about' lang %}">Over het project</a>
        </div>
        
        <div class="header-atlas-map">
            <a href="{% url 'wood-atlas' lang %}">Kaart</a>
        </div>

        {% if request.user.is_authenticated %}
            <div class="header-atlas-about">
                <a href="{% url 'wood-contrib' lang %}">Mijn bijdragen</a> 
            </div>
        {% endif %}

        
        <div class='header-atlas-logout'>  
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' lang%}"> Logout </a> 
            {% else %}
                <a href="{% url 'wood-contrib' lang %}"> Login </a>
            {% endif %}
        </div>
        
    </div>
</body>

</html>