{% extends "registration/base.html" %}

{% block content %}


<div class="contrib-login-wrapper">
{% if lang == 'en' %}
    <h1 class="pitch white">Enter<br>Wood Wide Web</h1>

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' lang %}">
        {% csrf_token %}
            <div class="row">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="row">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="link"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <span class="pitch">or </span>
    <span class="pitch register"><a href="{% url 'registration' lang %}">create an account on <br>Wood Wide Web</a></span>

{% elif lang == 'fr' %}
    <h1 class="pitch white">Entrez dans<br>Wood Wide Web</h1>

    {% if form.errors %}
    <p>Le mot de passe et le nom d'utilisateur ne concordent pas. Veuillez réessayer</p>
    {% endif %}

    <form method="post" action="{% url 'login' lang %}">
        {% csrf_token %}
            <div class="row">
                <label for="id_username">Nom d'utilisateur:</label>
                {{ form.username }}
            </div>
            <div class="row">
                <label for="id_password">Mot de passe:</label>
                {{ form.password }}
            </div>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="link"><a href="{% url 'password_reset' %}">Mot de passe oublié?</a></p>
    <span class="pitch">ou </span>
    <span class="pitch register"><a href="{% url 'registration' lang %}">créer un compte sur <br>Wood Wide Web</a></span>


{% elif lang == 'nl' %}
    <h1 class="pitch white">Kom binnen in<br>Wood Wide Web</h1>

    {% if form.errors %}
    <p>Gebruikersnaam en wachtwoord stemmen niet overeen. Probeer het opnieuw.</p>
    {% endif %}

    <form method="post" action="{% url 'login' lang %}">
        {% csrf_token %}
            <div class="row">
                <label for="id_username">Gebruikersnaam:</label>
                {{ form.username }}
            </div>
            <div class="row">
                <label for="id_password">Wachtwoord:</label>
                {{ form.password }}
            </div>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p class="link"><a href="{% url 'password_reset' %}">Wachtwoord vergeten?</a></p>
    <span class="pitch">of </span>
    <span class="pitch register"><a href="{% url 'registration' lang %}">maak een account aan op <br>Wood Wide Web</a></span>
{% endif %}
</div>

{% endblock %}